<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/private/cart.css" />

	</head>

	<body>
		<div class="cmp-mark">
			<div class="cmp-box">
				<form action="">
					<ul>
						<h3>添加地址</h3>
						<li class="add-addres">
							<label for="" class="lab">收货人</label>
							<input type="text" placeholder="请输入用户名" />
							<p><img src="../../img/order-icon13.png" alt="" />&nbsp;姓名格式错误错误</p>
						</li>
						<li class="add-addres">
							<label for="" class="lab">手机</label>
							<input type="text" placeholder="请输入手机号" />
							<p><img src="../../img/order-icon13.png" alt="" />&nbsp;手机号码格式错误</p>
						</li>
						<li class="add-addres">
							<label for="" class="lab">收货地址</label>
							<select name="" id="province">
								<option value="">选择省份</option>
							</select>
							<select name="" id="">
								<option value="">选择城市</option>
							</select>

							<select name="" id="">
								<option value="">选择县城</option>
							</select>
							<select name="" id="">
								<option value="">选择乡镇</option>
							</select>
						</li>
						<li class="add-addres radio-seled">
							<label for="radio-btn"></label>
							<input type="checkbox" id="radio-btn" name="1" /> 设置为默认地址
						</li>
						<li class="add-addres add-btn-box">
							<a class="add-btn">添加</a>
							<a class="cancel-btn">取消</a>
						</li>
					</ul>
				</form>
			</div>
		</div>

		<div class="cmp-mark1">
			<div class="cmp-box">
				<form action="">
					<ul>
						<h3>修改地址</h3>
						<li class="add-addres">
							<label for="" class="lab">收货人</label>
							<input type="text" placeholder="请输入用户名" />
							<p><img src="../../img/order-icon13.png" alt="" />&nbsp;姓名格式错误错误</p>
						</li>
						<li class="add-addres">
							<label for="" class="lab">手机</label>
							<input type="text" placeholder="请输入手机号" />
							<p><img src="../../img/order-icon13.png" alt="" />&nbsp;手机号码格式错误</p>
						</li>
						<li class="add-addres">
							<label for="" class="lab">收货地址</label>
							<select name="" id="province">
								<option value="">选择省份</option>
							</select>
							<select name="" id="">
								<option value="">选择城市</option>
							</select>

							<select name="" id="">
								<option value="">选择县城</option>
							</select>
							<select name="" id="">
								<option value="">选择乡镇</option>
							</select>
						</li>
						<li class="add-addres radio-seled">
							<label for="radio-btn"></label>
							<input type="checkbox" id="radio-btn" name="1" /> 设置为默认地址
						</li>
						<li class="add-addres add-btn-box">
							<a class="add-btn">添加</a>
							<a class="cancel-btn">取消</a>
						</li>
					</ul>
				</form>
			</div>
		</div>
		<div class="super_userNavi" id="super_userNavi">
			<div class="userNavi">

				<div class="fun_location Location" style="position: relative;">
					<p class="fun_locationp Location">
						<span>三界商城：</span><span> 北京 </span>
						<img src="../../img/jiant_x.png" />
					</p>&nbsp;
					<ul class="fun_over_china over_China ">
						<h2> 已开辟分站 </h2>
						<div id="">
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 黑龙江 </a>
							<a href=""> 河北 </a>
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 重庆 </a>
							<a href=""> 河北 </a>
						</div> <br />
						<h2> 即将开辟 </h2>
						<a href=""> 北京 </a>
						<a href=""> 上海 </a>
						<a href=""> 天津 </a>
						<a href=""> 重庆 </a>
						<a href=""> 河北 </a>
						<a href=""> 北京 </a>
						<a href=""> 上海 </a>
						<a href=""> 天津 </a>
						<a href=""> 黑龙江 </a>
						<a href=""> 河北 </a>
						<a href=""> 北京 </a>
						<a href=""> 上海 </a>
						<a href=""> 天津 </a>
						<a href=""> 黑龙江 </a>
						<a href=""> 河北 </a>
					</ul>

				</div>

				<div class="navigation" style="margin-right: 0;">
					<li>
						<a href=""> 1031237422 </a>
					</li>
					<li>
						<a href=""> 退出 </a>
					</li>
					<li>
						<a href=""> 我的订单 </a>
					</li>
					<li>
						<a href="" style="cursor: help;"> 帮助中心 </a>
					</li>
					<li>
						<a href=""> 新手上路 </a>
					</li>
					<li class="nav_li_wrap">

						<a class="" id="funLoca" href="">手机版</a>
						<ul>
							<li>
								<p class="nav_li_pleft">
									<span class="nav_li_pleft_top">三界商城手机APP</span>
									<span class="nav_li_pleft_bottom">
										<a href="">
											<img src="../../img/iphoneshouji.png"/>
											<span>iphone</span>
									</a>
									<a class="nav_li_pleft_bottom1" href="">
										<img src="../../img/anzhuoshouji.png" />
										<span>Android</span>
									</a>
									</span>
								</p>
								<p class="nav_li_prigh">
									<img src="../../img/shoujiduanerweima.png" />
								</p>
							</li>
							<li>
								<p class="nav_li_pleft nav_li_pleft_word">
									<span>三界商城微信公众号</span>
								</p>
								<p class="nav_li_prigh">
									<img src="../../img/weiixngongzhonghaoerweima.png" />
								</p>
							</li>
						</ul>

					</li>
				</div>

			</div>
		</div>

		<!--搜索商品栏-->
		<div class="super_Search">
			<div class="Search fix">
				<a href="../../index.html"><img style="float: left;" src="../../img/logo.png" /></a>
				<div class="order-t fl">提交订单</div>
				<div class="order-plan fr">
					<img src="../../img/jingdu1.png" alt="" />
				</div>
			</div>
		</div>

		<!--收货地址-->
		<div class="order-cont">
			<div class="data-width">
				<div class="address-box">
					<div class="address-top fix">
						<div class="fl">
							<img src="../../img/address-icon.png" alt="" />
							<span>收货地址</span>
						</div>
						<div class="fr">
							<img src="../../img/address-icon1.png" alt="" />
							<span>新增收货地址</span>
						</div>
					</div>

					<div class="address-main">
						<div class="a-m-b fix">
							<div class="u u-act fl">李志远</div>
							<div class="a fl">中国北京市西城区西直门南小街国英1号512 , </div>
							<div class="n fl">&nbsp;188888888888</div>
							<div class="fl">（默认地址）</div>
							<div class="fr">
								<a href="###" class="s">删除</a>
								<a href="###" class="x">修改</a>
							</div>
						</div>

						<div class="a-m-b fix">
							<div class="u fl">李志远</div>
							<div class="a fl">中国北京市西城区西直门南小街国英1号512 , </div>
							<div class="n fl">&nbsp;188888888888</div>
							<div class="fl"></div>
							<div class="fr">
								<a href="###" class="s">删除</a>
								<a href="###" class="x">修改</a>
							</div>
						</div>
						<div class="a-m-b fix">
							<div class="u  fl">李志远</div>
							<div class="a fl">中国北京市西城区西直门南小街国英1号512 , </div>
							<div class="n fl">&nbsp;188888888888</div>
							<div class="fl"></div>
							<div class="fr">
								<a href="###" class="s">删除</a>
								<a href="###" class="x">修改</a>
							</div>
						</div>
						<div class="x-la">
							<img src="../../img/xiala.png" alt="" />
						</div>
					</div>

				</div>

				<div class="order-box">
					<div class="address-top fix">
						<div class="fl">
							<img src="../../img/order-icon.png" alt="" />
							<span >订单信息</span>
						</div>
					</div>
					<div class="order-m">
						<div class="o-m-top fix">
							<ul>
								<li class="i">商品信息</li>
								<li class="r">尺寸规格</li>
								<li class="z">单价</li>
								<li class="g">购买数量</li>
								<li class="x">小计</li>
							</ul>
						</div>
						<div class="o-m-b">
							<div class="m-b-l">
								<ul class="o-lbox">
									<li class="img">
										<img src="../../img/cart-list.png" alt="" />
									</li>
									<li class="txt">丹顿公子【都市系列】男士西裤 英伦修身休闲西装裤夏季薄款商务职业正装 黑色竖纹款
										<span>29码</span>
									</li>
									<li class="rul">
										<p>颜色分类：<span>天蓝3</span></p>
										<p>尺寸: <span>M</span></p>
									</li>
									<li class="price">2348.00</li>
									<li class="num">1</li>
									<li class="acc">2048.00</li>
								</ul>
								<ul class="o-lbox ">
									<li class="img">
										<img src="../../img/cart-list.png" alt="" />
									</li>
									<li class="txt">丹顿公子【都市系列】男士西裤 英伦修身休闲西装裤夏季薄款商务职业正装 黑色竖纹款
										<span>29码</span>
									</li>
									<li class="rul">
										<p>颜色分类：<span>天蓝3</span></p>
										<p>尺寸: <span>M</span></p>
									</li>
									<li class="price">2348.00</li>
									<li class="num">1</li>
									<li class="acc">2048.00</li>
								</ul>
								<div class="o-tbox fix">
									<ul class="fl">
										<li>运费方式：</li>
										<li>
											<select name="" id="">
												<option value="">普通快递</option>
												<option value="">中通快递</option>
												<option value="">圆通快递</option>
											</select>
										</li>
										<li class="transportation">运费：<span>0,00</span></li>
									</ul>
									<ul class="fr">
										<li>订单合计（含运费）</li>
										<li class="o-t">4016.00</li>
									</ul>
								</div>

								<div class="o-bbox fix">
									<div class="fr">
										<div class="tot-m">
											<span>应付总额：</span>
											<span class="tot">6164.00</span>
											<span>三界石</span>
										</div>
										<div class="o-box-mid">
											<p>
												地址：
												<span>北京市西城区西直门南小街国英1号512 </span> 收货人：
												<span>杨树林</span> 电话：
												<span class="end">1888888888</span>
											</p>
										</div>
										<div class="fr">
											<a>提交订单</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="height:20px;"></div>
			</div>
		</div>

		<div class="footer">
			<div class="data-width">
				<div class="foot-mid">
					<ul>
						<li>
							<h3>注册登录</h3>
							<a href="">消费注册</a>
							<a href="">正品保障</a>
							<a href="">用户登录</a>
							<a href="">忘记密码</a>
							<a href="">商家入驻</a>
						</li>
						<li>
							<h3>消费指南</h3>
							<a href="">兑换流程</a>
							<a href="">消费流程</a>
							<a href="">货币与支付</a>
							<a href="">配送方式</a>
							<a href="">配送方式</a>
							<a href="">物流查询</a>
						</li>
						<li>
							<h3>购物指南</h3>
							<a href="">7天退换货</a>
							<a href="">退货流程</a>
						</li>
						<li>
							<h3>订单问题</h3>
							<a href="">订单查询</a>
							<a href="">订单取消</a>
							<a href=""></a>
						</li>
						<li class="kefuqu">
							<h3>联系我们</h3>
							<a href="">电话客服：9999999</a>
							<a href="">QQ客服：999999999</a>
							<a href="">邮箱：888888888</a>
							<a href="">公众号：0000000000</a>
						</li>
					</ul>
				</div>
				<div class="foot-top">
					<ul>
						<li class="first"><img src="../../img/foot-icon1.png" alt="">
							<p>闪电发货</p>
						</li>
						<li><img src="../../img/foot-icon1.png" alt="">
							<p>七天退换</p>
						</li>
						<li><img src="../../img/foot-icon1.png" alt="">
							<p>正品保证</p>
						</li>
						<li><img src="../../img/foot-icon1.png" alt="">
							<p>提供发票</p>
						</li>
						<li class="end"><img src="../../img/foot-icon1.png" alt="">
							<p>三界战略合作</p>
						</li>
					</ul>
				</div>
				<div class="foot-btm">
					<div class="foot-btm-nav">
						<a href="">关于我们</a>
						<a href="">品牌招商</a>
						<a href="">集团采购</a>
						<a href="">招贤纳士</a>
						<a href="">联系我们</a>
						<a href="">网站地图</a>
						<a href="">网站资讯</a>
						<a href="">商家联盟</a>
						<a href="">友情链接</a>
					</div>
					<p>Copyright © 2011-2015 HaiHeShiDai Technology Co., Ltd. 京ICP备09070608号-4 增值电信业务经营许可证：京 B2-20090203 京公网安备：4403101910665</p>
					<div class="foot-btm-btm"><img src="../../img/foot-icon7.jpg" alt="" /></div>
				</div>
			</div>
		</div>

		<script src="../../js/lib/jquery-1.7.1.min.js"></script>
		<script src="../../js/lib/common.js"></script>
		<script src="../../js/lib/inputs.js"></script>
		<script>
			$(function() {
				//修改添加收货地址
				$('.address-top .fr').click(function() {
					$('.cmp-mark').show();
				})
				$('.cancel-btn').click(function() {
					$('.cmp-mark,.cmp-mark1').hide();
				})

				$('.a-m-b .x').click(function() {
					$('.cmp-mark1').show();
				})

				//tabs的切换
				$('.a-m-b .u').click(function() {
					$('.a-m-b .u').removeClass('u-act')
					$(this).addClass('u-act');
				})

				$('.x-la').click(function() {
					var h = $('.address-main').height();
					if(h == 174) {
						$('.address-main').animate({
							height: '300px'
						}, 600)
					} else {
						$('.address-main').animate({
							height: '174px'
						}, 600)
					}
				})
			})
		</script>
	</body>

</html>