.miao_top{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top:30px;
}
.w{
	background: #f6f6f6;
}
/*商品*/
.sp_warp{
	width: 102%;
	min-height: 100px;
	height: auto;
	float: left;
	margin-top:30px ;
}
.sp-item{
	width: 220px;
	height: 362px;
	float: left;
	border: 1px solid #FFFFFF;
	background: #FFFFFF;
	margin-right:17px ;
	margin-bottom:20px ;
}
.sp-item:hover{
	border: 1px solid #dddddd;
}
.sp-item>img{
	width: 220px;
	height: 220px;
	float: left;
	cursor: pointer;
	
}
.sp-item-content{
	width: 200px;
	height:120px;
	float: left;
	margin-left:10px ;
}
.sp-money{
	width: 100%;
	padding: 20px 0 10px 0;
	float: left;
	color: #F3001D;
}
.sp-money b{
	font-size: 14px;
	float: left;
	padding-top:6px ;
	padding-left:6px ;
	font-weight: 400;
	color: #848484;
}
.sp-money span{
	font-size: 20px;
	float: left;
}
.sp-name{
	width: 100%;
	height: 40px;
	line-height: 22px;
	font-size: 12px;
	color: #575757;
	float: left;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
	cursor: pointer;
}
.sp-name:hover{
	color:  #F3001D;
}
.sp-bottom{
	width: 100%;
	min-height:30px;
	float: left;
	
}
.sp-bottom em{
	font-size: 12px;
	float: left;
	padding-top:8px ;
	color: #999999;
}
.sp-bottom b{
	font-weight: 100;
	color: #282828;
}
.sp-bottom img{
	width: 24px;
	float: right;
	margin-top:6px ;
	cursor: pointer;
}