<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>品牌汇</title>
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/private/brand.css" />
	</head>
	<body>	
		<!--头部用户导航-->
		<div class="super_userNavi" id="super_userNavi">
			<div class="userNavi">
				
				<div class="fun_location Location" style="position: relative;">
					<p  class="fun_locationp Location">
						<span>三界商城：</span><span > 北京 </span>
						<img src="../../img/jiant_x.png"/>
					</p>&nbsp; 
					<ul class="fun_over_china over_China ">
						 <h2> 已开辟分站 </h2>
							 <div id="">
							 	<a href=""> 北京 </a>
								<a href=""> 上海 </a>
								<a href=""> 天津 </a>
								<a href=""> 黑龙江 </a>
								<a href=""> 河北 </a>
								<a href=""> 北京 </a>
								<a href=""> 上海 </a>
								<a href=""> 天津 </a>
								<a href=""> 重庆 </a>
								<a href=""> 河北 </a>  
							 </div> <br />
				        <h2> 即将开辟 </h2> 
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 重庆 </a>
							<a href=""> 河北 </a>
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 黑龙江 </a>
							<a href=""> 河北 </a>
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 黑龙江 </a>
							<a href=""> 河北 </a>
					</ul>

				</div>
									
				<div class="navigation" style="margin-right: 0;">
					<li><a href="">   1031237422  </a></li>
					<li><a href=""> 退出 </a></li>
					<li><a href=""> 我的订单 </a></li>
					<li><a href="" style="cursor: help;"> 帮助中心 </a></li>
					<li><a href=""> 新手上路 </a></li>
					<li class="nav_li_wrap">
						
						<a class="" id="funLoca" href="">手机版</a>
						<ul>
							<li>
								<p class="nav_li_pleft">
									<span class="nav_li_pleft_top">三界商城手机APP</span>
									<span class="nav_li_pleft_bottom">
										<a href="">
											<img src="../../img/iphoneshouji.png"/>
											<span>iphone</span>
										</a>
										<a class="nav_li_pleft_bottom1" href="">
											<img src="../../img/anzhuoshouji.png"/>
											<span>Android</span>
										</a>
									</span>
								</p>
								<p class="nav_li_prigh">
									<img src="../../img/shoujiduanerweima.png"/>
								</p>
							</li>
							<li>
								<p class="nav_li_pleft nav_li_pleft_word">
									<span>三界商城微信公众号</span>
								</p>
								<p class="nav_li_prigh">
									<img src="../../img/weiixngongzhonghaoerweima.png"/>
								</p>
							</li>
						</ul>
						
						
					</li>
				</div>
				
			</div>
		</div>		
		
		<!--搜索商品栏-->
		<div class="super_Search">
			<div class="Search" href="">
				
			<img style="float: left;" src="../../img/logo.png"/>	
			<input type="text" class="kuang" id="" placeholder="输入你想查找的商品名字" />
			<input type="button" class="suoSou" id="" value="搜索" />
			<a class="shopping_cart_icon">
				 <img src="../../img/gouwuche.png"/> 我的购物车（ <sapn> 0 </sapn> ）
			</a>
			<div class="Text">
				<a href="">秋冬连衣裙</a>
				<a href=""> 耐克跑步鞋</a>
				<a href="">婴儿抱被 </a>
				<a href="">会员特供 </a>
				<a href="">买一送二</a>
			</div>
				
			</div>
			
		</div>
		
		<!--频道跳转栏-->
		<div class="local-channel fix">
			<div class="data-width">
				<div class="channel-box .fix">
					<a class="channel-l">
						<img src="../../img/hanbao.png" alt="" />
						<span>全部商城分类</span>
					</a>
					<div class="channel-c">
						<a href="../../index.html">首页</a>
						<a href="../life/localLive.html">三界本地</a>
						<a href="../center/Diamond_index.html">三界会员</a>
						<a href="" class="color_title_fist">品牌汇</a>
					</div>
					<div class="channel-r">
						<a href="../others/shopercheck.html">商家入驻</a>
						<a href="../others/Share.html" class="color_title_fist">分享邀请</a>
					</div>
					
							  <ul class="Secondary" id="Secondary">
			  	<li> 
			  		<a href="">大家电</a>/ 
					<a href=""> 生活电器 </a> /
					<a href=""> 厨房电器 </a>
					<img src="../../img/youjiantou.png"/>
					<!--三级菜单-->
					<div class="wu" id="Level_3">
						<dt style="padding-top: 30px;"> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a style="color: #F2021C;" href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a style="color: #F2021C;" href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a style="color: #F2021C;" href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/></span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a style="color: #F2021C;" href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
					</div>
			  	</li>
			  	<li> 
			  		<a href="">数码</a>/ 
					<a href=""> 手机 </a> /
					<a href=""> 电脑办公 </a>
					<img src="../../img/youjiantou.png"/>
					<!--三级菜单-->
					<div   class="wu" id="Level_3">
						<dt style="padding-top: 30px;"> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a style="color: #F2021C;" href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						 
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a style="color: #F2021C;" href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a style="color: #F2021C;" href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
					</div>
			  	</li>
			  	<li> 
			  		<a href="">家居用品</a>/ 
					<a href=""> 家具 </a> /
					<a href=""> 厨具 </a> /
					<a href=""> 宠物 </a>
					<img src="../../img/youjiantou.png"/>
					<!--三级菜单-->
					<div   class="wu" id="Level_3">
						<dt style="padding-top: 30px;"> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a style="color: #F2021C;" href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a style="color: #F2021C;" href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a style="color: #F2021C;" href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a style="color: #F2021C;" href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a style="color: #F2021C;" href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
					</div>
			  	</li>
			  	<li> 
			  		<a href="">化妆品</a>/ 
					<a href=""> 个人护理 </a> /
					<a href=""> 珠宝 </a>
					<img src="../../img/youjiantou.png"/>
					<!--三级菜单-->
					<div   class="wu" id="Level_3">
						<dt style="padding-top: 30px;"> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a style="color: #F2021C;" href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a style="color: #F2021C;" href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a style="color: #F2021C;" href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a style="color: #F2021C;" href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
					</div>
			  	</li>
			  	<li> 
			  		<a href="">服装 </a>/ 
					<a href=""> 鞋靴 </a> /
					<a href=""> 箱包 </a>
					<img src="../../img/youjiantou.png"/>
					<!--三级菜单-->
					<div  class="wu" id="Level_3">
						<dt style="padding-top: 30px;"> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a style="color: #F2021C;" href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a style="color: #F2021C;" href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a style="color: #F2021C;" href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a style="color: #F2021C;" href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
					</div>
			  	</li>
			  	<li> 
			  		<a href="">医药保健</a>/ 
					<a href=""> 户外装备 </a> 
					<img src="../../img/youjiantou.png"/>
					<!--三级菜单-->
					<div  class="wu" id="Level_3">
						<dt style="padding-top: 30px;"> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a style="color: #F2021C;" href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a style="color: #F2021C;" href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a style="color: #F2021C;" href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a style="color: #F2021C;" href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
					</div>
			  	</li>
			  	<li> 
			  		<a href="">汽车用品</a>/ 
					<a href=""> 车载电器 </a>
					<img src="../../img/youjiantou.png"/>
					<!--三级菜单-->
					<div  class="wu" id="Level_3">
						<dt style="padding-top: 30px;"> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a style="color: #F2021C;" href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a style="color: #F2021C;" href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a style="color: #F2021C;" href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a style="color: #F2021C;" href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
					</div>
			  	</li>
			  	<li> 
			  		<a href="">食品饮料</a>/ 
					<a href=""> 进口零售 </a> /
					<a href=""> 酒茶 </a>
					<img src="../../img/youjiantou.png"/>
					<!--三级菜单-->
					<div  class="wu" id="Level_3">
						<dt style="padding-top: 30px;"> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a style="color: #F2021C;" href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a style="color: #F2021C;" href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a style="color: #F2021C;" href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a style="color: #F2021C;" href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
					</div>
			  	</li>
			  	<li> 
			  		<a href="">母婴服务器 </a>/ 
					<a href=""> 婴儿食品 </a> /
					<a href=""> 玩具 </a>
					<img src="../../img/youjiantou.png"/>
					<!--三级菜单-->
					<div  class="wu" id="Level_3">
						<dt style="padding-top: 30px;"> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a style="color: #F2021C;" href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a style="color: #F2021C;" href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a style="color: #F2021C;" href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a style="color: #F2021C;" href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
					</div>
			  	</li>
			  	<li style="border-bottom: 0;"> 
			  		<a href="">图书音像</a>/ 
					<a href=""> 儿童教育 </a> /
					<a href=""> 教材 </a>
					<img src="../../img/youjiantou.png"/>
					<!--三级菜单-->
					<div  class="wu" id="Level_3">
						<dt style="padding-top: 30px;"> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a style="color: #F2021C;" href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a style="color: #F2021C;" href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 厨房大电 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a href=""> 超级大屏 </a>
								<a style="color: #F2021C;" href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
						<dt> 
							<span> 平板电视 <img src="../../img/jiantou-icon.png"/> </span>
							<dl>
								<a href=""> 4k超高清 </a>
								<a href=""> 国产 </a>
								<a href=""> 外资品牌 </a>
								<a href=""> 曲面 </a>
								<a style="color: #F2021C;" href=""> 智能电视 </a>
								<a style="color: #F2021C;" href=""> 超级大屏 </a>
								<a href=""> 云电视 </a>
								<a href=""> 客厅首选 </a>
								<a href=""> 云电视 </a>
							</dl>
						</dt>
					</div>
			  	</li>
			  </ul>
			</div>
				</div>
			</div>
		</div>			
		<!-- 列表内容部分 -->
		<div class="brand-cont">
			<div class="data-width">	
				<div class="brand-top">
					<div class="tit">
						<h2>精选品牌</h2>
					</div>
					<div class="top-box fix">
						<ul class="top-box-up">
							<li><a href=""><img src="../../img/jp1.jpg" alt=""></a></li>
							<li><a href=""><img src="../../img/jp2.jpg" alt=""></a></li>
							<li><a href=""><img src="../../img/jp3.jpg" alt=""></a></li>
							<li class="four"><a href=""><img src="../../img/jp4.jpg" alt=""></a></li>
						</ul>
						<ul class="top-box-below fix">
		                   	<li><a href=""><img src="../../img/jp1.jpg" alt=""></a></li>
		                   	<li><a href=""><img src="../../img/jp1.jpg" alt=""></a></li>	
		                   	<li><a href=""><img src="../../img/jp1.jpg" alt=""></a></li>
		                   	<li class="four"><a href=""><img src="../../img/jp1.jpg" alt=""></a></li>		
						</ul>
					</div>
				</div>

				<!-- 分类列表 -->
				<div class="brand-mid">
					<!-- 左侧竖排的导航栏 -->
					<div class="nav-box">
						<ul class="nav-lista">
							<h3>品牌汇</h3>
							<li>服装服饰</li>
							<li>生活家电</li>
							<li>手机数码</li>
							<li>食品饮料</li>
							<li>化妆护理</li>
							<li>母婴</li>
							<li>图书音像</li>
							<li>家具家居</li>
							<li>运动健身</li>
							<li>汽车用品</li>
							<a href="brand.html"><img src="../../img/shangla.png" alt="" />&nbsp;&nbsp;顶部</a>
						</ul>
					</div>
					
					<div class="brand-mid-box fix">
						<div class="tit">
							<h2>1F 服装服饰类</h2>
						</div>
						<div class="list-box fix">
							<ul class="fl list-fl list1">
								<!-- 1 -->
								<li><a href="">爱米兰</a></li>
								<li><a href="">EFR</a></li>
								<li><a href="" class="active">品牌招募中</a></li>							
							</ul>
							<div class="fr list-fr">
								<a href=""><img src="../../img/fz_03.jpg" alt=""></a>
								<a href=""><img src="../../img/fz_05.jpg" alt=""></a>							
							</div>
						</div>
					</div>

					<div class="brand-mid-box fix">
						<div class="tit">
							<h2>2F 生活家电类</h2>
						</div>
						<div class="list-box">
							<ul class="fl list-fl list2">
								<!-- 1 -->
								<li><a href="">飞科</a></li>
								<li><a href="">博瑞</a></li>
								<li><a href="">亿用</a></li>
								<li><a href="">樱花卫厨</a></li>		
								<li><a href="">酷开</a></li>
								<li><a href="">康佳</a></li>
								<li><a href="" class="active">品牌招募中</a></li>
				
							</ul>
							<div class="fr list-fr">
								<a href=""><img src="../../img/sh_03.jpg" alt=""></a>
								<a href=""><img src="../../img/sh_05.jpg" alt=""></a>
								<a href=""><img src="../../img/sh_09.jpg" alt=""></a>
								<a href=""><img src="../../img/sh_10.jpg" alt=""></a>
								<a href=""><img src="../../img/sh_12.jpg" alt=""></a>
								<a href=""><img src="../../img/sh_14.jpg" alt=""></a>                                  						
							</div>
						</div>
					</div>

					<div class="brand-mid-box fix">
						<div class="tit">
							<h2>3F 手机数码类</h2>
						</div>
						<div class="list-box">
							<ul class="fl list-fl list3">
								<li><a href="">华为</a></li>
								<li><a href="">中兴</a></li>
								<li><a href="">苹果</a></li>
								<li><a href="">魅族</a></li>		
								<li><a href="">小米</a></li>
								<li><a href="">联想</a></li>
								<li><a href="">PHILIPS</a></li>
								<li><a href="">金立</a></li>
								<li><a href="" class="active">品牌招募中</a></li>								
							</ul>
							<div class="fr list-fr">
								<a href=""><img src="../../img/sj_20.jpg" alt=""></a>
								<a href=""><img src="../../img/sj_21.jpg" alt=""></a>
								<a href=""><img src="../../img/sj_22.jpg" alt=""></a>
								<a href=""><img src="../../img/sj_23.jpg" alt=""></a>
								<a href=""><img src="../../img/sj_28.jpg" alt=""></a>
								<a href=""><img src="../../img/sj_29.jpg" alt=""></a>
								<a href=""><img src="../../img/sj_30.jpg" alt=""></a>
								<a href=""><img src="../../img/sj_31.jpg" alt=""></a>
			
							</div>
						</div>
					</div>

                    
                    <div class="brand-mid-box fix">
						<div class="tit">
							<h2>4F 食品饮料类</h2>
						</div>
						<div class="list-box">
							<ul class="fl list-fl list4">
								<li><a href="">东阿阿胶</a></li>
								<li><a href="">红胶堂</a></li>
								<li><a href="">三晋御品</a></li>
								<li><a href="" class="active">品牌招募中</a></li>						
							</ul>
							<div class="fr list-fr">
								<a href=""><img src="../../img/sp_36.jpg" alt=""></a>
								<a href=""><img src="../../img/sp_37.jpg" alt=""></a>
								<a href=""><img src="../../img/sp_38.jpg" alt=""></a>							
							</div>
						</div>
					</div>

					<div class="brand-mid-box fix">
						<div class="tit">
							<h2>5F 化妆护理类</h2>
						</div>
						<div class="list-box">
							<ul class="fl list-fl list5">					
								<li><a href="">兰蔻</a></li>
								<li><a href="">嘉业堂</a></li>
								<li><a href="">程氏古方</a></li>
								<li><a href="">天保得乐</a></li>		
								<li><a href="">梵林伽</a></li>
								<li><a href="">美肽</a></li>
								<li><a href="">CURACAO</a></li>
								<li><a href="">OLIVE</a></li>
								<li><a href="" class="active">品牌招募中</a></li>
							</ul>
							<div class="fr list-fr">
								<a href=""><img src="../../img/hz_42.jpg" alt=""></a>
								<a href=""><img src="../../img/hz_43.jpg" alt=""></a>
								<a href=""><img src="../../img/hz_44.jpg" alt=""></a>
								<a href=""><img src="../../img/hz_45.jpg" alt=""></a>
								<a href=""><img src="../../img/hz_50.jpg" alt=""></a>
								<a href=""><img src="../../img/hz_51.jpg" alt=""></a>
								<a href=""><img src="../../img/hz_52.jpg" alt=""></a>
								<a href=""><img src="../../img/hz_53.jpg" alt=""></a>
							
							</div>
						</div>
					</div>

					<div class="brand-mid-box fix">
						<div class="tit">
							<h2>6F 母婴类</h2>
						</div>
						<div class="list-box">
							<ul class="fl list-fl list6">
								<li><a href="">童泰贝康</a></li>
								<li><a href="">强生</a></li>
								<li><a href="">WHEAT STRAW</a></li>
								<li><a href="">BOBO</a></li>		
								<li><a href="">LOOOPOO</a></li>
								<li><a href="" class="active">品牌招募中</a></li>
					
							</ul>
							<div class="fr list-fr">
								<a href=""><img src="../../img/my_03.jpg" alt=""></a>
								<a href=""><img src="../../img/my_58.jpg" alt=""></a>
								<a href=""><img src="../../img/my_59.jpg" alt=""></a>
								<a href=""><img src="../../img/my_60.jpg" alt=""></a>
								<a href=""><img src="../../img/my_64.jpg" alt=""></a>
							
							</div>
						</div>
					</div>

					<div class="brand-mid-box fix">
						<div class="tit">
							<h2>7F 图书音像类</h2>
						</div>
						<div class="list-box">
							<ul class="fl list-fl list7">
								<!-- 1 -->
								<li><a href="">常青藤</a></li>
								<li><a href="" class="active">品牌招募中</a></li>
							</ul>
							<div class="fr list-fr">
								<a href=""><img src="../../img/ts_66.jpg" alt=""></a>
							
							
							</div>
						</div>
					</div>



					<div class="brand-mid-box fix">
						<div class="tit">
							<h2>8F 家具家居类</h2>
						</div>
						<div class="list-box">
							<ul class="fl list-fl list8">
								<!-- 1 -->
								<li><a href="">蓝猫</a></li>
								<li><a href="">得力</a></li>
								<li><a href="">lOOOPOOO</a></li>
								<li><a href="">素水</a></li>
								<li><a href="">素水</a></li>
								<li><a href="" class="active">品牌招募中</a></li>
							</ul>
							<div class="fr list-fr">
								<a href=""><img src="../../img/jj_68.jpg" alt=""></a>
								<a href=""><img src="../../img/jj_69.jpg" alt=""></a>
								<a href=""><img src="../../img/jj_70.jpg" alt=""></a>
								<a href=""><img src="../../img/jj_71.jpg" alt=""></a>
								<a href=""><img src="../../img/jj_76.jpg" alt=""></a>
								
							
							</div>
						</div>
					</div>
					

					<div class="brand-mid-box fix">
						<div class="tit">
							<h2>9F 运动健身类</h2>
						</div>
						<div class="list-box">
							<ul class="fl list-fl list9">
								<!-- 1 -->
								<li><a href="">骆驼</a></li>
								<li><a href="">成源</a></li>
								<li><a href="">斯达赛</a></li>
								<li><a href="">M-CRO</a></li>		
								<li><a href="" class="active">品牌招募中</a></li>

							</ul>
							<div class="fr list-fr">
								<a href=""><img src="../../img/yd_78.jpg" alt=""></a>
								<a href=""><img src="../../img/yd_79.jpg" alt=""></a>
								<a href=""><img src="../../img/yd_80.jpg" alt=""></a>
								<a href=""><img src="../../img/yd_81.jpg" alt=""></a>
							
							</div>
						</div>
					</div>


					<div class="brand-mid-box fix">
						<div class="tit">
							<h2>10F 汽车用品类</h2>
						</div>
						<div class="list-box">
							<ul class="fl list-fl list10">
								<li><a href="">SSC</a></li>
								<li><a href="">KTM</a></li>
								<li><a href="" class="active">品牌招募中</a></li>								
							</ul>
							<div class="fr list-fr">
								<a href=""><img src="../../img/qc_03.jpg" alt=""></a>
								<a href=""><img src="../../img/qc_86.jpg" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
	    
	    <div class="footer">
		<div class="data-width">
			<div class="foot-mid">
				<ul>
					<li>
						<h3>注册登录</h3>
						<a href="">消费注册</a>
						<a href="">正品保障</a>
						<a href="">用户登录</a>
						<a href="">忘记密码</a>
						<a href="">商家入驻</a>
					</li>
					<li>
						<h3>消费指南</h3>
						<a href="">兑换流程</a>
						<a href="">消费流程</a>
						<a href="">货币与支付</a>
						<a href="">配送方式</a>
						<a href="">配送方式</a>
						<a href="">物流查询</a>
					</li>
					<li>
						<h3>购物指南</h3>
						<a href="">7天退换货</a>
						<a href="">退货流程</a>
					</li>
					<li>
						<h3>订单问题</h3>
						<a href="">订单查询</a>
						<a href="">订单取消</a>
						<a href=""></a>
					</li>
					<li class="kefuqu">
						<h3>联系我们</h3>
						<a href="">电话客服：9999999</a>
						<a href="">QQ客服：999999999</a>
						<a href="">邮箱：888888888</a>
						<a href="">公众号：0000000000</a>
					</li>
				</ul>
			</div>
			<div class="foot-top">
				<ul>
					<li class="first"><img src="../../img/foot-icon1.png" alt="">
						<p>闪电发货</p>
					</li>
					<li><img src="../../img/foot-icon1.png" alt=""><p>七天退换</p></li>
					<li><img src="../../img/foot-icon1.png" alt=""><p>正品保证</p></li>
					<li><img src="../../img/foot-icon1.png" alt=""><p>提供发票</p></li>
					<li class="end"><img src="../../img/foot-icon1.png" alt=""><p>三界战略合作</p></li>
				</ul>
			</div>
			<div class="foot-btm">
				<div class="foot-btm-nav">					
					<a href="">关于我们</a>
					<a href="">品牌招商</a>
					<a href="">集团采购</a>
					<a href="">招贤纳士</a>
					<a href="">联系我们</a>
					<a href="">网站地图</a>
					<a href="">网站资讯</a>
					<a href="">商家联盟</a>
					<a href="">友情链接</a>
				</div>
				<p>Copyright © 2011-2015 HaiHeShiDai Technology Co., Ltd. 京ICP备09070608号-4 增值电信业务经营许可证：京 B2-20090203 京公网安备：4403101910665</p>
				<div class="foot-btm-btm"><img src="../../img/foot-icon7.jpg" alt="" /></div>
			</div>
		</div>
	</div>	    
	    <script src="../../js/lib/jquery-1.7.1.min.js"></script>
	    <script src="../../js/lib/common.js"></script>
		<script src="../../js/brand.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
