<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商家主页</title>
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/private/merchantinde.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common/navcommon.css"/>
	</head>
	<body>
		
				<!--头部用户导航-->
				<!--头部用户导航-->
		<div class="super_userNavi" id="super_userNavi">
			<div class="userNavi">
				
				<div class="fun_location Location" style="position: relative;">
					<p  class="fun_locationp Location">
						<span>三界商城：</span><span > 北京 </span>
						<img src="../../img/jiant_x.png"/>
					</p>&nbsp; 
					<ul class="fun_over_china over_China ">
						 <h2> 已开辟分站 </h2>
							 <div id="">
							 	<a href=""> 北京 </a>
								<a href=""> 上海 </a>
								<a href=""> 天津 </a>
								<a href=""> 黑龙江 </a>
								<a href=""> 河北 </a>
								<a href=""> 北京 </a>
								<a href=""> 上海 </a>
								<a href=""> 天津 </a>
								<a href=""> 重庆 </a>
								<a href=""> 河北 </a>  
							 </div> <br />
				        <h2> 即将开辟 </h2> 
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 重庆 </a>
							<a href=""> 河北 </a>
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 黑龙江 </a>
							<a href=""> 河北 </a>
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 黑龙江 </a>
							<a href=""> 河北 </a>
					</ul>

				</div>
									
				<div class="navigation" style="margin-right: 0;">
					<li><a href="">   1031237422  </a></li>
					<li><a href=""> 退出 </a></li>
					<li><a href=""> 我的订单 </a></li>
					<li><a href="" style="cursor: help;"> 帮助中心 </a></li>
					<li><a href=""> 新手上路 </a></li>
					<li class="nav_li_wrap">
						
						<a class="" id="funLoca" href="">手机版</a>
						<ul>
							<li>
								<p class="nav_li_pleft">
									<span class="nav_li_pleft_top">三界商城手机APP</span>
									<span class="nav_li_pleft_bottom">
										<a href="">
											<img src="../../img/iphoneshouji.png"/>
											<span>iphone</span>
										</a>
										<a class="nav_li_pleft_bottom1" href="">
											<img src="../../img/anzhuoshouji.png"/>
											<span>Android</span>
										</a>
									</span>
								</p>
								<p class="nav_li_prigh">
									<img src="../../img/shoujiduanerweima.png"/>
								</p>
							</li>
							<li>
								<p class="nav_li_pleft nav_li_pleft_word">
									<span>三界商城微信公众号</span>
								</p>
								<p class="nav_li_prigh">
									<img src="../../img/weiixngongzhonghaoerweima.png"/>
								</p>
							</li>
						</ul>
						
						
					</li>
				</div>
				
			</div>
		</div>		
		<!--搜索商品栏-->
		<div class="super_Search fix">
			<div class="Search" href="">

				<img style="float: left;" src="../../img/logo.png" />
				<div class="live">三界.生活</div>
				<form action="" class="search-in">	
					<div class="search-sel">
					
						<ul class="search-sel-tab">
							<span class="tri"></span>
							<li>团购</li>
							<li class="search-sel-hid">商家</li>
						</ul>
					</div>
					<input type="text" class="kuang" id="" placeholder="输入你想查找的商品名字" />
					<input type="button" class="suoSou" id="" value="搜索" />
				</form>
				<div class="Text Text66">
					<a href="">秋冬连衣裙</a>
					<a href=""> 耐克跑步鞋</a>
					<a href="">婴儿抱被 </a>
					<a href="">会员特供 </a>
					<a href="">买一送二</a>
				</div>
			</div>
		</div>

		<!--三级页面-->
		<div class="local-channel fix">
			<div class="data-width">
				<div class="channel-box .fix">
					<a class="channel-l">
						<img src="../../img/hanbao.png" alt="" />
						<span>全部商品分类</span>
					</a>
					<div class="channel-c">
						<a class="color_title_fist" href="../../index.html"> 首页 </a>
						<a href="../life/localLive.html"> 三界生活 </a>
						<a href="../center/Diamond_index.html"> 三界会员</a>
						<a href="../others/brand.html"> 品牌汇 </a>
						
					</div>
					<div class="channel-r">
						<a href="../others/Share.html" class="end_two" style="margin-right: 0;"> 分享邀请</a>
						<a href="../others/shopercheck.html" class="end_two" style="margin-right: 0;">商家入驻 </a>
					</div>
				</div>
				
				<div class="channel-nav-box">
					<div class="channel-items fix">
						<div class="item item1">
							<h3 class="item-l">
								<a href="">美食餐饮</a>
							</h3>
							<div class="item-r">
								<span>外卖快餐 </span>
								<img src="../../img/jiantou-icon.png" alt="" />
							</div>
						</div>
						<div class="item item2">
							<h3 class="item-l">
								<a href="">休闲娱乐</a>
							</h3>
							<div class="item-r">
								<span>足疗按摩 </span>
								<img src="../../img/jiantou-icon.png" alt="" />
							</div>
						</div>
						<div class="item ">
							<h3 class="item-l">
								<a href="">旅游</a>
							</h3>
							<div class="item-r">
								<span>景点门票</span>
								<img src="../../img/jiantou-icon.png" alt="" />
							</div>
						</div>
						<div class="item ">
							<h3 class="item-l">
								<a href="">酒店服务</a>
							</h3>
							<div class="item-r">
								<span>情侣酒店</span>
								<img src="../../img/jiantou-icon.png" alt="" />
							</div>
						</div>
						<div class="item ">
							<h3 class="item-l">
								<a href="">生活服务</a>
							</h3>
							<div class="item-r">
								<span>手机充值</span>
								<img src="../../img/jiantou-icon.png" alt="" />
							</div>
						</div>
						<div class="item ">
							<h3 class="item-l">
								<a href="">婚庆服务</a>
							</h3>
							<div class="item-r">
								<span>酒席包团</span>
								<img src="../../img/jiantou-icon.png" alt="" />
							</div>
						</div>
						<div class="item ">
							<h3 class="item-l">
								<a href="">丽人</a>
							</h3>
							<div class="item-r">
								<span>美容美发</span>
								<img src="../../img/jiantou-icon.png" alt="" />
							</div>
						</div>
					</div>
					<div class="channel-tabs fix">			
						<div class="tabs tabs1">
							<h3>美食餐饮</h3>
							<ul class="tablist">
								<li>
									<a href="">KTV</a>
								</li>
								<li>
									<a href="">桌游/电玩</a>
								</li>
								<li>
									<a href="">足疗按摩</a>
								</li>
								<li>
									<a href="">密室逃脱</a>
								</li>
								<li>
									<a href="">其他娱乐</a>
								</li>
								<li>
									<a href="">运动健身</a>
								</li>
								<li>
									<a href="">洗浴/汗蒸</a>
								</li>
								<li>
									<a href="">酒吧</a>
								</li>
								<li>
									<a href="">演出赛事</a>
								</li>
								<li>
									<a href="">4D/5D电影</a>
								</li>
								<li>
									<a href="">DIY手工</a>
								</li>
								<li>
									<a href="">真人CSS</a>
								</li>
							</lu>
						</div>
						
						
						<div class="tabs tabs2">
							<h3>休闲娱乐</h3>
							<ul class="tablist">
								<li>
									<a href="">KTV</a>
								</li>
								<li>
									<a href="">桌游/电玩</a>
								</li>
								<li>
									<a href="">足疗按摩</a>
								</li>
								<li>
									<a href="">密室逃脱</a>
								</li>
								<li>
									<a href="">其他娱乐</a>
								</li>
								<li>
									<a href="">运动健身</a>
								</li>
								<li>
									<a href="">洗浴/汗蒸</a>
								</li>
								<li>
									<a href="">酒吧</a>
								</li>
								<li>
									<a href="">演出赛事</a>
								</li>
								<li>
									<a href="">4D/5D电影</a>
								</li>
								<li>
									<a href="">DIY手工</a>
								</li>
								<li>
									<a href="">真人CSS</a>
								</li>
							</lu>
						</div>
						
						<div class="tabs tabs3">
							<h3>旅游</h3>
							<ul class="tablist">
								<li>
									<a href="">KTV</a>
								</li>
								<li>
									<a href="">桌游/电玩</a>
								</li>
								<li>
									<a href="">足疗按摩</a>
								</li>
								<li>
									<a href="">密室逃脱</a>
								</li>
								<li>
									<a href="">其他娱乐</a>
								</li>
								<li>
									<a href="">运动健身</a>
								</li>
								<li>
									<a href="">洗浴/汗蒸</a>
								</li>
								<li>
									<a href="">酒吧</a>
								</li>
								<li>
									<a href="">演出赛事</a>
								</li>
								<li>
									<a href="">4D/5D电影</a>
								</li>
								<li>
									<a href="">DIY手工</a>
								</li>
								<li>
									<a href="">真人CSS</a>
								</li>
							</lu>
						</div>
						
						<div class="tabs tabs4">
							<h3>酒店服务</h3>
							<ul class="tablist">
								<li>
									<a href="">KTV</a>
								</li>
								<li>
									<a href="">桌游/电玩</a>
								</li>
								<li>
									<a href="">足疗按摩</a>
								</li>
								<li>
									<a href="">密室逃脱</a>
								</li>
								<li>
									<a href="">其他娱乐</a>
								</li>
								<li>
									<a href="">运动健身</a>
								</li>
								<li>
									<a href="">洗浴/汗蒸</a>
								</li>
								<li>
									<a href="">酒吧</a>
								</li>
								<li>
									<a href="">演出赛事</a>
								</li>
								<li>
									<a href="">4D/5D电影</a>
								</li>
								<li>
									<a href="">DIY手工</a>
								</li>
								<li>
									<a href="">真人CSS</a>
								</li>
							</lu>
						</div>
						
						<div class="tabs tabs5">
							<h3>生活服务</h3>
							<ul class="tablist">
								<li>
									<a href="">KTV</a>
								</li>
								<li>
									<a href="">桌游/电玩</a>
								</li>
								<li>
									<a href="">足疗按摩</a>
								</li>
								<li>
									<a href="">密室逃脱</a>
								</li>
								<li>
									<a href="">其他娱乐</a>
								</li>
								<li>
									<a href="">运动健身</a>
								</li>
								<li>
									<a href="">洗浴/汗蒸</a>
								</li>
								<li>
									<a href="">酒吧</a>
								</li>
								<li>
									<a href="">演出赛事</a>
								</li>
								<li>
									<a href="">4D/5D电影</a>
								</li>
								<li>
									<a href="">DIY手工</a>
								</li>
								<li>
									<a href="">真人CSS</a>
								</li>
							</lu>
						</div>
						
						<div class="tabs tabs6">
							<h3>婚庆服务</h3>
							<ul class="tablist">
								<li>
									<a href="">KTV</a>
								</li>
								<li>
									<a href="">桌游/电玩</a>
								</li>
								<li>
									<a href="">足疗按摩</a>
								</li>
								<li>
									<a href="">密室逃脱</a>
								</li>
								<li>
									<a href="">其他娱乐</a>
								</li>
								<li>
									<a href="">运动健身</a>
								</li>
								<li>
									<a href="">洗浴/汗蒸</a>
								</li>
								<li>
									<a href="">酒吧</a>
								</li>
								<li>
									<a href="">演出赛事</a>
								</li>
								<li>
									<a href="">4D/5D电影</a>
								</li>
								<li>
									<a href="">DIY手工</a>
								</li>
								<li>
									<a href="">真人CSS</a>
								</li>
							</lu>
						</div>
						
						<div class="tabs tabs7">
							<h3>丽人</h3>
							<ul class="tablist">
								<li>
									<a href="">KTV</a>
								</li>
								<li>
									<a href="">桌游/电玩</a>
								</li>
								<li>
									<a href="">足疗按摩</a>
								</li>
								<li>
									<a href="">密室逃脱</a>
								</li>
								<li>
									<a href="">其他娱乐</a>
								</li>
								<li>
									<a href="">运动健身</a>
								</li>
								<li>
									<a href="">洗浴/汗蒸</a>
								</li>
								<li>
									<a href="">酒吧</a>
								</li>
								<li>
									<a href="">演出赛事</a>
								</li>
								<li>
									<a href="">4D/5D电影</a>
								</li>
								<li>
									<a href="">DIY手工</a>
								</li>
								<li>
									<a href="">真人CSS</a>
								</li>
							</lu>
						</div>
						
					</div>
				</div>

			</div>
		</div>

		
		
		<div class="w_wrap">
			<div class="w">
				<!--面me_top_left包屑-->
				<p class="crumbs-bar">
					<a href="###">首页</a><i>></i>
					<a href="###">手机</a><i>></i>
					<a href="###">手机</a><i>></i>
					<a class="bar_act_clor" href="###">平板电脑</a>
				</p> 
				<div class="me_top">
					<div class="me_top_left">
						<img src="../../img/dianputu.png"/>
						<div class="me_top_left_div">
							<div class="me_top_left_div_title">
								外公家（华润 · 五彩城店）
							</div>
							<div class="me_top_left_div_center">
								<p><span>注册号：</span><span>130102600183628</span></p>
								<p><span>注册名称：</span><span>长安区图大嘎嘣脆食品店</span></p>
								<p><span>营业时间：</span><span>11:00—21:00</span></p>
								<p><span>门店服务：</span><span>支持WIFI</span></p>
							</div>
							<div class="me_top_left_div_bot">
								<p><span>电话：</span><span>0319-3052666</span></p>
								<p><span>地址：</span><span>北京市海淀区XX路华润五彩城6楼</span></p>
							</div>
						</div>
					</div>
					<div class="me_top_right">
						<dl>
							<dt><img src="../../img/erweima.png"/></dt>
							<dd>扫码享受VIP服务</dd>
						</dl>
					</div>
				</div>
				<div class="me_jieshao">
					<div class="me_jieshao_title">
						商家介绍
					</div>
					<div class="me_jieshao_line">
					</div>
				</div>
				<div class="me_jiecontent">
					<p>新骑点车业，位于河北省邢台市桥东区东关街6号，本店店铺面积1500平米。经营各种类型电动车，自行车，山地车，老人代步车，小孩玩具车，户外装备等。致力于打造邢台市首家电动车4S店，开创首家顶级电动车会所，免费WIFI，免费茶座，免费台球，形成一个以交友，运动，销售，维修，保养为中心的电动车4S店。</p>
					<p>2015联盟天津海河时代网络科技有限公司，以全新的网络平台增值服务，超越传统，引领消费，让消费者拿到真正的网络时代带来的巨惠大礼！</p>
					<p>全新推出出口品牌，国际品质，高性能电动车，凡是每日前5名到本店购买电动车的客户，获得海河时代全额的购物卡。超级大礼，让您不敢相信！</p>
				</div>
				<div class="me_jieshao">
					<div class="me_jieshao_title">
						店铺照片
					</div>
					<div class="me_jieshao_line">
					</div>
				</div>
				<div class="me_dianpu">
					<div class="page_anniu" id="prew">
						<img src="../../img/zoujiantou-kedianji.png"/>
					</div>
					<div class="outer">
						<div class="inner" id="innner">
							<img class="tu_acti" src="../../img/tu1.png"/>
							<img src="../../img/tu2.png"/>
							<img src="../../img/tu3.png"/>
							<img src="../../img/cart-list.png"/>
							<img src="../../img/shafa.jpg"/>
							<img src="../../img/lvyou1.png"/>
						</div>
					</div>
					<div class="page_anniu" id="next">
						<img src="../../img/youjiantou1.png"/>
					</div>
				</div>
				
				<!--再售商品-->
				<div class="me_zaishou">
					<div class="con_sousuo">
						<div class="zaishou">
							<span>在售商品(</span>
							<em >15</em>
							<span>件)</span>
						</div>
						<div class="con_page">
							<span><span>共</span><i>25555</i><span>商品</span></span>
							<span class="con_page_nub"><span class="con_page_page1">1</span><i class="page_color1">/</i><span class="page_color1">15</span>
							</span>
							<span class="con_page_ji">
								<a href="#"><</a>
								<a href="#" class="page_color1">></a>
							</span>
						</div>
					</div>
					
					
					<ul class="benDi">
						<li>
							<img src="../../img/xiaoguan.jpg"/>
							<h4> 河北省邢台市桥东区新骑点车业河北省邢台市桥东区新骑点车业河北省邢台市桥东区新骑点车业  </h4>
							<p> 活磁能量缸排毒排寒套餐！提供免费wif </p>
							<div class="cost_look">
								<div class="cost">
									<dt> <font>&yen;</font> 99.00 </dt>
									<dl> 价格 <del> &yen; 1680 </del> </dl>
								</div>
								<div class="Look">
									<span>已售</span>
									<em>155</em>
								</div>
							</div>
						</li>
						<li>
							<img src="../../img/xiaoguan.jpg"/>
							<h4> 河北省邢台市桥东区新骑点车业河北省邢台市桥东区新骑点车业河北省邢台市桥东区新骑点车业  </h4>
							<p> 活磁能量缸排毒排寒套餐！提供免费wif </p>
							<div class="cost_look">
								<div class="cost">
									<dt> <font>&yen;</font> 99.00 </dt>
									<dl> 价格 <del> &yen; 1680 </del> </dl>
								</div>
								<div class="Look">
									<span>已售</span>
									<em>155</em>
								</div>
							</div>
						</li>
						<li>
							<img src="../../img/xiaoguan.jpg"/>
							<h4> 河北省邢台市桥东区新骑点车业河北省邢台市桥东区新骑点车业河北省邢台市桥东区新骑点车业  </h4>
							<p> 活磁能量缸排毒排寒套餐！提供免费wif </p>
							<div class="cost_look">
								<div class="cost">
									<dt> <font>&yen;</font> 99.00 </dt>
									<dl> 价格 <del> &yen; 1680 </del> </dl>
								</div>
								<div class="Look">
									<span>已售</span>
									<em>155</em>
								</div>
							</div>
						</li>
						<li>
							<img src="../../img/xiaoguan.jpg"/>
							<h4> 河北省邢台市桥东区新骑点车业河北省邢台市桥东区新骑点车业河北省邢台市桥东区新骑点车业  </h4>
							<p> 活磁能量缸排毒排寒套餐！提供免费wif </p>
							<div class="cost_look">
								<div class="cost">
									<dt> <font>&yen;</font> 99.00 </dt>
									<dl> 价格 <del> &yen; 1680 </del> </dl>
								</div>
								<div class="Look">
									<span>已售</span>
									<em>155</em>
								</div>
							</div>
						</li>
						<li>
							<img src="../../img/xiaoguan.jpg"/>
							<h4> 河北省邢台市桥东区新骑点车业河北省邢台市桥东区新骑点车业河北省邢台市桥东区新骑点车业  </h4>
							<p> 活磁能量缸排毒排寒套餐！提供免费wif </p>
							<div class="cost_look">
								<div class="cost">
									<dt> <font>&yen;</font> 99.00 </dt>
									<dl> 价格 <del> &yen; 1680 </del> </dl>
								</div>
								<div class="Look">
									<span>已售</span>
									<em>155</em>
								</div>
							</div>
						</li>
						<li>
							<img src="../../img/xiaoguan.jpg"/>
							<h4> 河北省邢台市桥东区新骑点车业河北省邢台市桥东区新骑点车业河北省邢台市桥东区新骑点车业  </h4>
							<p> 活磁能量缸排毒排寒套餐！提供免费wif </p>
							<div class="cost_look">
								<div class="cost">
									<dt> <font>&yen;</font> 99.00 </dt>
									<dl> 价格 <del> &yen; 1680 </del> </dl>
								</div>
								<div class="Look">
									<span>已售</span>
									<em>155</em>
								</div>
							</div>
						</li>
					</ul>
				</div>
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
			<div class="page_warp" style="background: #f6f6f6;">
					<p>
						<span>
							<a>上一页</a>&nbsp;&nbsp;
							<a class="color_page_title">1</a>
							<a>2</a>
							<a>3</a>
							<a>4</a>
							<a>5</a>
							&nbsp;&nbsp;<a>下一页</a>
						</span>
						<span>
							<span>共</span>
							<i>20</i>
							<span>页，</span>
							<span>跳转到</span>
							<input class="page_input" type="tel" name="" id="" value="" />
							<span>页</span>
							<button>确定</button>
						</span>
					</p>
				</div>	
				
			</div>
		</div>
		
		<!--footer-->
			<div class="footer">
		<div class="data-width">
			<div class="foot-mid">
				<ul>
					<li>
						<h3>注册登录</h3>
						<a href="">消费注册</a>
						<a href="">正品保障</a>
						<a href="">用户登录</a>
						<a href="">忘记密码</a>
						<a href="">商家入驻</a>
					</li>
					<li>
						<h3>消费指南</h3>
						<a href="">兑换流程</a>
						<a href="">消费流程</a>
						<a href="">货币与支付</a>
						<a href="">配送方式</a>
						<a href="">配送方式</a>
						<a href="">物流查询</a>
					</li>
					<li>
						<h3>购物指南</h3>
						<a href="">7天退换货</a>
						<a href="">退货流程</a>
					</li>
					<li>
						<h3>订单问题</h3>
						<a href="">订单查询</a>
						<a href="">订单取消</a>
						<a href=""></a>
					</li>
					<li class="kefuqu">
						<h3>联系我们</h3>
						<a href="">电话客服：9999999</a>
						<a href="">QQ客服：999999999</a>
						<a href="">邮箱：888888888</a>
						<a href="">公众号：0000000000</a>
					</li>
				</ul>
			</div>
			<div class="foot-top">
				<ul>
					<li class="first"><img src="../../img/foot-icon1.png" alt="">
						<p>闪电发货</p>
					</li>
					<li><img src="../../img/foot-icon1.png" alt=""><p>七天退换</p></li>
					<li><img src="../../img/foot-icon1.png" alt=""><p>正品保证</p></li>
					<li><img src="../../img/foot-icon1.png" alt=""><p>提供发票</p></li>
					<li class="end"><img src="../../img/foot-icon1.png" alt=""><p>三界战略合作</p></li>
				</ul>
			</div>
			<div class="foot-btm">
				<div class="foot-btm-nav">					
					<a href="">关于我们</a>
					<a href="">品牌招商</a>
					<a href="">集团采购</a>
					<a href="">招贤纳士</a>
					<a href="">联系我们</a>
					<a href="">网站地图</a>
					<a href="">网站资讯</a>
					<a href="">商家联盟</a>
					<a href="">友情链接</a>
				</div>
				<p>Copyright © 2011-2015 HaiHeShiDai Technology Co., Ltd. 京ICP备09070608号-4 增值电信业务经营许可证：京 B2-20090203 京公网安备：4403101910665</p>
				<div class="foot-btm-btm"><img src="../../img/foot-icon7.jpg" alt="" /></div>
			</div>
		</div>
	</div>

		
		
		<script src="../../js/lib/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var disee=0;
				$("#prew").click(function(){
				$("#prew").find("img").attr("src","../../img/zoujiantou-kedianji.png");
				$("#next").find("img").attr("src","../../img/youjiantou1.png")
				disee=disee-290;
				if (disee<=-870) {
					disee=-870
					$("#prew").find("img").attr("src","../../img/zuojiantou-zhihui.png");
				}
				$("#innner").stop().animate({
					left:disee+"px"
				},1000);
				
			});
			$("#next").click(function(){
				$("#prew").find("img").attr("src","../../img/zoujiantou-kedianji.png");
				$("#next").find("img").attr("src","../../img/youjiantou1.png")
				disee=disee+290;
				if (disee>=0) {
					disee=0
					$("#next").find("img").attr("src","../../img/youjiantou-zhihui.png")
				}
				$("#innner").stop().animate({
					left:disee+"px"
				},1000)
			})
			
			
			
			$(function(){	
			$(".channel-l").mousemove(function(){
					$(".channel-nav-box").css("display","block");
				});
				$(".channel-l").mouseleave(function(){
					$(".channel-nav-box").css("display","none");
				})
				
				
				$('.channel-items .item').mouseenter(function(){
					$(".channel-nav-box").css("display","block");
					$(this).addClass('item-active');
				    var index = $(this).index();
					$('.channel-tabs .tabs').eq(index).css('display','block');	
					$('.channel-items .item img').eq(index).css('display','none')
				})	
				$('.channel-items .item').mouseleave(function(){
					$(".channel-nav-box").css("display","none");
					$(this).removeClass('item-active');
				    var index = $(this).index();
					$('.channel-tabs .tabs').eq(index).css('display','none');	
				    $('.channel-items .item img').eq(index).css('display','inline-block')
				})
				$('.channel-tabs .tabs').mouseenter(function(){	
					$(".channel-nav-box").css("display","block");
				   var index = $(this).index();
					$('.channel-items .item').eq(index).addClass('item-active');				
					$('.channel-tabs .tabs').eq(index).css('display','block');	
					$('.channel-items .item img').eq(index).css('display','none')
				})				
				$('.channel-tabs .tabs').mouseleave(function(){	
					$(".channel-nav-box").css("display","none");
				    var index = $(this).index();
				    $('.channel-items .item').eq(index).removeClass('item-active');				
					$('.channel-tabs .tabs').eq(index).css('display','none');	
					$('.channel-items .item img').eq(index).css('display','inline-block')
				});		
			})
			
//		切换商家和团购	
		$(function(){
			$('.search-sel-tab').mouseover(function(){
				$('.search-sel-tab li').show();				
				$('.search-sel-tab li:eq(1)').css({borderBottom:"1px solid #ddd"})
			})
			$('.search-sel-tab').mouseout(function(){
				$('.search-sel-tab li:eq(1)').hide();
				$('.search-sel-tab li:eq(0)').css({borderBottom:"none"})
			})
			$('.search-sel-tab li').click(function(){					
				$(this).addClass('search-sel-hid').siblings().removeClass('search-sel-hid');
				if($(this)){
					$(this).after($(this).siblings());
				}
			})
		})

			
		</script>
	</body>
</html>
