<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的账房</title>
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/private/accountant.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common/jquery.datetimepicker.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common/common.css"/>
	</head>
	<body>
			<!--头部用户导航-->
				<!--头部用户导航-->
		<div class="super_userNavi" id="super_userNavi">
			<div class="userNavi">
				
				<div class="fun_location Location" style="position: relative;">
					<p  class="fun_locationp Location">
						<span>三界商城：</span><span > 北京 </span>
						<img src="../../img/jiant_x.png"/>
					</p>&nbsp; 
					<ul class="fun_over_china over_China ">
						 <h2> 已开辟分站 </h2>
							 <div id="">
							 	<a href=""> 北京 </a>
								<a href=""> 上海 </a>
								<a href=""> 天津 </a>
								<a href=""> 黑龙江 </a>
								<a href=""> 河北 </a>
								<a href=""> 北京 </a>
								<a href=""> 上海 </a>
								<a href=""> 天津 </a>
								<a href=""> 重庆 </a>
								<a href=""> 河北 </a>  
							 </div> <br />
				        <h2> 即将开辟 </h2> 
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 重庆 </a>
							<a href=""> 河北 </a>
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 黑龙江 </a>
							<a href=""> 河北 </a>
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 黑龙江 </a>
							<a href=""> 河北 </a>
					</ul>

				</div>
									
				<div class="navigation" style="margin-right: 0;">
					<li><a href="">   1031237422  </a></li>
					<li><a href=""> 退出 </a></li>
					<li><a href=""> 我的订单 </a></li>
					<li><a href="" style="cursor: help;"> 帮助中心 </a></li>
					<li><a href=""> 新手上路 </a></li>
					<li class="nav_li_wrap">
						
						<a class="" id="funLoca" href="">手机版</a>
						<ul>
							<li>
								<p class="nav_li_pleft">
									<span class="nav_li_pleft_top">三界商城手机APP</span>
									<span class="nav_li_pleft_bottom">
										<a href="">
											<img src="../../img/iphoneshouji.png"/>
											<span>iphone</span>
										</a>
										<a class="nav_li_pleft_bottom1" href="">
											<img src="../../img/anzhuoshouji.png"/>
											<span>Android</span>
										</a>
									</span>
								</p>
								<p class="nav_li_prigh">
									<img src="../../img/shoujiduanerweima.png"/>
								</p>
							</li>
							<li>
								<p class="nav_li_pleft nav_li_pleft_word">
									<span>三界商城微信公众号</span>
								</p>
								<p class="nav_li_prigh">
									<img src="../../img/weiixngongzhonghaoerweima.png"/>
								</p>
							</li>
						</ul>
						
						
					</li>
				</div>
				
			</div>
		</div>		
		<!--搜索商品栏-->
		<div class="super_Search">
			<div class="Search" href="">
				
			<img style="float: left;" src="../../img/logo.png"/>	
			<input type="text" class="kuang" id="" placeholder="输入你想查找的商品名字" />
			<input type="button" class="suoSou" id="" value="搜索" />
			<a class="shopping_cart_icon">
				 <img src="../../img/gouwuche.png"/> 我的购物车（ <sapn> 0 </sapn> ）
			</a>
			<div class="Text">
				<a href="">秋冬连衣裙</a>
				<a href=""> 耐克跑步鞋</a>
				<a href="">婴儿抱被 </a>
				<a href="">会员特供 </a>
				<a href="">买一送二</a>
			</div>
				
			</div>
			
		</div>
		
		<!--频道跳转栏-->
		<div class="local-channel fix">
			<div class="data-width">
				<div class="channel-box .fix">
					<a class="channel-l" href="../../index.html" style="text-align: center;">
						<span>返回商城首页</span>
					</a>
					<div class="channel-c channel-d">
						  <a href="Diamond_index.html"> 三界会员 </a>
						  <a href="order.html"> 我的订单 </a>
						  <a class="color_title_fist" href="accountant.html"> 我的账房 </a>
						  <a href="myrecommend.html"> 我的推荐 </a>
						  <a href="accountsettings.html"> 账户设置 </a>
						  
					</div>
					<div class="channel-r">
						<a href="../others/sanjietong.html"> 三界石 </a>
						<a href="../others/sanjiebao.html"> 三界宝 </a>
						<a href="../others/Share.html">分享邀请</a>
					</div>
				</div>
			</div>
		</div>

		
		
		<div class="w_wrap">
			<div class="w" style="background: #F6F6F6;">
				
		<!--创业会员—个人中心-->
		   <div class="Personal_center">
		   	<div class="Personal_title">
		   		<div class="The_pictures">
		   			<div class="photo_naodai">
						<img src="../../img/touxiang.png" alt="">
						<img class="circle_shadow" src="../../img/circle_shadow.png">
					</div>
		   		</div>
			   	<div class="the_name">
			   		<dt> 张三 </dt>   
		   	  	    <dd> 创业会员 </dd>
			   	</div>	
			</div>
	   		<div class="per_weilai">
	   			<ul>
	   				<li>
	   					<img src="../../img/daifukuan.png"/>
	   					<span>三界石（余额）</span>
	   				</li>
	   				<li class="colorF7">100</li>
	   			</ul>
	   			<ul>
	   				<li>
	   					<img src="../../img/daifukuan.png"/>
	   					<span>三界宝（余额）</span>
	   				</li>
	   				<li class="colorF7">100</li>
	   			</ul>
	   		</div>
	   		<div class="per_anniu">
	   			<a href="centerPay.html">充值</a>
	   			<a href="Transfer.html">转账</a>
	   			<a href="withdraw.html">提现</a>
	   		</div>
	   		
		   	</div>
		   	
		   	
			<div class="per_mingxi">
				<div class="per_mingxi_top">
					<div class="per_mingxi_top_title">
						<span>账单明细（</span><span>50</span><span>）</span>
					</div>
					<!--<div class="per_mingxi_top_right">
						<a href="">更多</a>
						<img src="../../img/xiaoyoujiantong.png"/>
					</div>-->
				</div>
				<div class="per_mingxi_content">
					<ul>
						<li class="ul_left">时间</li>
						<li class="ul_right">
							<input type="text" name="" id="" value="" class="per_input fun_per_input" placeholder="选择订单创建时间" />
							<i>
								——
							</i>
							<input type="text" name="" id="" value="" class="per_input fun_per_input" placeholder="选择订单创建时间"  />
							<span>
								<span><a href="###">今天</a>|<a href="###">近一周</a>|<a href="###">近一月</a></span>
							</span>
						</li>
					</ul>
					<ul>
						<li class="ul_left">交易类型</li>
						<li class="ul_right">
							<p class="ul_right_p">
								<span>
									<span>
										<a href="###">全部</a>|<a href="###">充值</a>|<a href="###">转账</a></span><a href="###">兑换</a>|<a href="###">消费</a>|
										<a href="###">会员消费奖励</a>|<a href="###">会员升级奖励</a><a href="###">店铺充值奖励</a>|<a href="###">供应商业绩分红</a>|<a href="###">辖区店铺业绩奖励</a>|<a href="###">其他奖励</a>
									</span>
								</span>
							</p>
						</li>
					</ul>
					<ul>
						<li class="ul_left">金额</li>
						<li class="ul_right">
							<input type="tel" name="" id="" value="" class="per_input per_input_nub" placeholder="输入数字" />
							<i>
								——
							</i>
							<input type="tel" name="" id="" value="" class="per_input per_input_nub" placeholder="输入数字"  />
						</li>
					</ul>
					<ul>
						<li class="ul_left">订单号</li>
						<li class="ul_right">
							<input type="tel" name="" id="" value="" class="per_input per_input_dingdan" placeholder="输入订单号" />
						</li>
					</ul>
					<ul>
						<li class="ul_left">订单号</li>
						<li class="ul_right">
							<p class="ul_right_p">
								<button>订单查询</button>
								<button id="acOrder">导出账单</button>
								<button class="butn">重置</button>
							</p>
						</li>
					</ul>
				</div>
			</div>	
			<div class="per_dingdan">
				<table class="tab">
		   	  		<tr> 
		   	  			<th class="acc_tab_first" style="width: 20%;"> 订单号 </th> 
		   	  			<th style="width: 20%;"> 时间 </th> 
		   	  			<th style="width: 15%;"> 交易类型 </th> 
		   	  			<th style="width: 15%;"> 三界石 </th>
		   	  			<th style="width: 10%;"> 三界宝 </th> 
		   	  			<th style="width: 10%;"> 人民币 </th> 
		   	  			<th style="width: 10%;"> 详情 </th>
		   	  		</tr>
		   	  		<tr>
		   	  			<td class="acc_tab_first">201609091101101111111111</td> 
		   	  			<td>2016-09-09 13：13：13</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>/</td>
		   	  		</tr>
		   	  		<tr>
		   	  			<td class="acc_tab_first">201609091101101111111111</td> 
		   	  			<td>2016-09-09 13：13：13</td> 
		   	  			<td>充值</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>/</td>
		   	  		</tr>
		   	  		<tr>
		   	  			<td class="acc_tab_first">201609091101101111111111</td> 
		   	  			<td>2016-09-09 13：13：13</td> 
		   	  			<td>转账</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>/</td>
		   	  		</tr>
		   	  		<tr>
		   	  			<td class="acc_tab_first">201609091101101111111111</td> 
		   	  			<td>2016-09-09 13：13：13</td> 
		   	  			<td>购物</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>/</td>
		   	  		</tr>
		   	  		<tr>
		   	  			<td class="acc_tab_first">201609091101101111111111</td> 
		   	  			<td>2016-09-09 13：13：13</td> 
		   	  			<td>购物</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>/</td>
		   	  		</tr>
		   	  		<tr>
		   	  			<td class="acc_tab_first">201609091101101111111111</td> 
		   	  			<td>2016-09-09 13：13：13</td> 
		   	  			<td>会员消费分红</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>/</td>
		   	  		</tr>
		   	  		<tr>
		   	  			<td class="acc_tab_first">201609091101101111111111</td> 
		   	  			<td>2016-09-09 13：13：13</td> 
		   	  			<td>会员升级奖励</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>/</td>
		   	  		</tr>
		   	  		<tr>
		   	  			<td class="acc_tab_first">201609091101101111111111</td> 
		   	  			<td>2016-09-09 13：13：13</td> 
		   	  			<td>供应商业绩分红</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>/</td>
		   	  		</tr>
		   	  		<tr>
		   	  			<td class="acc_tab_first">201609091101101111111111</td> 
		   	  			<td>2016-09-09 13：13：13</td> 
		   	  			<td>供应商业绩分红</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>/</td>
		   	  		</tr>
		   	  		<tr>
		   	  			<td class="acc_tab_first">201609091101101111111111</td> 
		   	  			<td>2016-09-09 13：13：13</td> 
		   	  			<td>店铺充值奖励</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>+2000</td> 
		   	  			<td>/</td>
		   	  		</tr>
		   	  		<tr class="tab_bord"> <td></td><td></td><td>合计</td> <td>+5</td> <td>+5</td> <td>+5</td>  <td><span>50</span>条记录</td></tr>
		   	  	</table>
					<div class="page_warp">
					<p>
						<span>
							<a>上一页</a>&nbsp;&nbsp;
							<a class="color_page_title">1</a>
							<a>2</a>
							<a>3</a>
							<a>4</a>
							<a>5</a>
							&nbsp;&nbsp;<a>下一页</a>
						</span>
						<span>
							<span>共</span>
							<i>20</i>
							<span>页，</span>
							<span>跳转到</span>
							<input class="page_input" type="tel" name="" id="" value="" />
							<span>页</span>
							<button>确定</button>
						</span>
					</p>
				
				</div>
				
			</div>	
			
			</div>
		</div>
		<div class="modal_order">
			账单导出成功
		</div>
	<div class="footer">
		<div class="data-width">
			<div class="foot-mid">
				<ul>
					<li>
						<h3>注册登录</h3>
						<a href="">消费注册</a>
						<a href="">正品保障</a>
						<a href="">用户登录</a>
						<a href="">忘记密码</a>
						<a href="">商家入驻</a>
					</li>
					<li>
						<h3>消费指南</h3>
						<a href="">兑换流程</a>
						<a href="">消费流程</a>
						<a href="">货币与支付</a>
						<a href="">配送方式</a>
						<a href="">配送方式</a>
						<a href="">物流查询</a>
					</li>
					<li>
						<h3>购物指南</h3>
						<a href="">7天退换货</a>
						<a href="">退货流程</a>
					</li>
					<li>
						<h3>订单问题</h3>
						<a href="">订单查询</a>
						<a href="">订单取消</a>
						<a href=""></a>
					</li>
					<li class="kefuqu">
						<h3>联系我们</h3>
						<a href="">电话客服：9999999</a>
						<a href="">QQ客服：999999999</a>
						<a href="">邮箱：888888888</a>
						<a href="">公众号：0000000000</a>
					</li>
				</ul>
			</div>
			<div class="foot-top">
				<ul>
					<li class="first"><img src="../../img/foot-icon1.png" alt="">
						<p>闪电发货</p>
					</li>
					<li><img src="../../img/foot-icon1.png" alt=""><p>七天退换</p></li>
					<li><img src="../../img/foot-icon1.png" alt=""><p>正品保证</p></li>
					<li><img src="../../img/foot-icon1.png" alt=""><p>提供发票</p></li>
					<li class="end"><img src="../../img/foot-icon1.png" alt=""><p>三界战略合作</p></li>
				</ul>
			</div>
			<div class="foot-btm">
				<div class="foot-btm-nav">					
					<a href="">关于我们</a>
					<a href="">品牌招商</a>
					<a href="">集团采购</a>
					<a href="">招贤纳士</a>
					<a href="">联系我们</a>
					<a href="">网站地图</a>
					<a href="">网站资讯</a>
					<a href="">商家联盟</a>
					<a href="">友情链接</a>
				</div>
				<p>Copyright © 2011-2015 HaiHeShiDai Technology Co., Ltd. 京ICP备09070608号-4 增值电信业务经营许可证：京 B2-20090203 京公网安备：4403101910665</p>
				<div class="foot-btm-btm"><img src="../../img/foot-icon7.jpg" alt="" /></div>
			</div>
		</div>
	</div>

		<script src="../../js/lib/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/inputs.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jquery.datetimepicker.full.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		
		
		
			$('.fun_per_input').datetimepicker({
		        format: "Y-m-d"
		    });
		    $("#acOrder").click(function(){
//		    	$(".modal_order").css("display","block");
				modal("modal_order");
		    })
		     
		     
//		     模态框显示,需完成时调用
			    var time;
				function modal(mod){
					$("."+mod).show();
					var timer = 3;
					clearInterval(time);
					var time=setInterval(function(){
						timer--
						if(timer==0){
							$('.'+mod).hide();
							clearInterval(time);
						}
					},1000);
				}
				
		</script>
	</body>
</html>
