<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>账户设置</title>
	<link rel="stylesheet" type="text/css" href="../../css/common/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/common/common.css" />
	<link rel="stylesheet" type="text/css" href="../../css/private/accountsetting.css" />
</head>
<body>
	<div class="warp">
		<!--头部用户导航-->
		<div class="super_userNavi" id="super_userNavi">
			<div class="userNavi">
				
				<div class="fun_location Location" style="position: relative;">
					<p  class="fun_locationp Location">
						<span>三界商城：</span><span > 北京 </span>
						<img src="../../img/jiant_x.png"/>
					</p>&nbsp; 
					<ul class="fun_over_china over_China ">
						 <h2> 已开辟分站 </h2>
							 <div id="">
							 	<a href=""> 北京 </a>
								<a href=""> 上海 </a>
								<a href=""> 天津 </a>
								<a href=""> 黑龙江 </a>
								<a href=""> 河北 </a>
								<a href=""> 北京 </a>
								<a href=""> 上海 </a>
								<a href=""> 天津 </a>
								<a href=""> 重庆 </a>
								<a href=""> 河北 </a>  
							 </div> <br />
				        <h2> 即将开辟 </h2> 
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 重庆 </a>
							<a href=""> 河北 </a>
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 黑龙江 </a>
							<a href=""> 河北 </a>
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 黑龙江 </a>
							<a href=""> 河北 </a>
					</ul>

				</div>
									
				<div class="navigation" style="margin-right: 0;">
					<li><a href="">   1031237422  </a></li>
					<li><a href=""> 退出 </a></li>
					<li><a href=""> 我的订单 </a></li>
					<li><a href="" style="cursor: help;"> 帮助中心 </a></li>
					<li><a href=""> 新手上路 </a></li>
					<li class="nav_li_wrap">
						
						<a class="" id="funLoca" href="">手机版</a>
						<ul>
							<li>
								<p class="nav_li_pleft">
									<span class="nav_li_pleft_top">三界商城手机APP</span>
									<span class="nav_li_pleft_bottom">
										<a href="">
											<img src="../../img/iphoneshouji.png"/>
											<span>iphone</span>
										</a>
										<a class="nav_li_pleft_bottom1" href="">
											<img src="../../img/anzhuoshouji.png"/>
											<span>Android</span>
										</a>
									</span>
								</p>
								<p class="nav_li_prigh">
									<img src="../../img/shoujiduanerweima.png"/>
								</p>
							</li>
							<li>
								<p class="nav_li_pleft nav_li_pleft_word">
									<span>三界商城微信公众号</span>
								</p>
								<p class="nav_li_prigh">
									<img src="../../img/weiixngongzhonghaoerweima.png"/>
								</p>
							</li>
						</ul>
						
						
					</li>
				</div>
				
			</div>
		</div>
		
		<!--搜索商品栏-->
		<div class="super_Search">
			<div class="Search" href="">
				
			<img style="float: left;" src="../../img/logo.png"/>	
			<input type="text" class="kuang" id="" placeholder="输入你想查找的商品名字" />
			<input type="button" class="suoSou" id="" value="搜索" />
			<a class="shopping_cart_icon">
				 <img src="../../img/gouwuche.png"/> 我的购物车（ <sapn> 0 </sapn> ）
			</a>
			<div class="Text">
				<a href="">秋冬连衣裙</a>
				<a href=""> 耐克跑步鞋</a>
				<a href="">婴儿抱被 </a>
				<a href="">会员特供 </a>
				<a href="">买一送二</a>
			</div>
				
			</div>
			
		</div>
		<!--导航栏-->
		<div class="m_nav">
			<ul class="m_nav_in">
				<li class="first_child"><a href="../../index.html">返回商城首页</a></li>
				<li><a href="Diamond_index.html">三界会员</a></li>
				<li><a href="order.html">我的订单</a></li>
				<li><a href="accountant.html">我的账房</a></li>
				<li><a href="myrecommend.html">我的推荐</a></li>
				<li><a class="color_title_fist" href="accountsettings.html">账户设置</a></li>
				<li><a href="#">三界石</a></li>
				<li><a href="#">三界宝</a></li>
				<li class="last_child"><a href="../others/Share.html">分享邀请</a></li>
			</ul>
		</div>
		<!--账户设置头部信息-->
		<div class="account_info">
			<div class="account_info_left">
				<div class="photo_naodai">
					<img src="../../img/lvyou5.png" alt="">
					<img class="circle_shadow" src="../../img/circle_shadow.png">
				</div>
				<div class="user_info">
					<h2 class="f16c28">张三</h2>
					<p>创业会员</p>
				</div>
			</div>
			<div class="account_info_right">
				<div class="security_level">
					<p>安全等级：<span>低</span></p>
					<div class="security_level_legend">
						<span class="legend"></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<ul class="authentications">
					<li>
						<div>
							<img src="../../img/as_phone.png" alt="手机未认证">
						</div>
						<p>手机未认证</p>
					</li>
					<li>
						<div>
							<img src="../../img/as_email.png" alt="邮箱未认证">
						</div>
						<p>邮箱未认证</p>
					</li>
					<li>
						<div>
							<img src="../../img/as_user.png" alt="身份未认证">
						</div>						
						<p>身份未认证</p>
					</li>
				</ul>
			</div>
		</div>
		<!--账户设置底部列表-->
		<div class="account_list">
			<h2>账户设置</h2>
			<ul class="account_list_tab">
				<li class="now"><a href="#">安全中心</a></li>
				<li><a href="#">基本信息</a></li>
				<li><a href="#">头像管理</a></li>
				<li><a href="addressmanagement.html">地址管理</a></li>
			</ul>
			<ul class="account_list_form">
				<li>
					<div class="form_img">
						<img src="../../img/as_right.png" alt="">
					</div>
					<div class="form_name">登录密码</div>
					<p>安全性高的密码可以使账号更安全。建议您定期更换密码，且设置一个包含数字和字母，并长度超过6位以上的密码。</p>
					<span><a href="#">修改</a></span>
				</li>
				<li>
					<div class="form_img">
						<img src="../../img/as_warning.png" alt="">
					</div>
					<div class="form_name">邮箱验证</div>
					<p>验证后，可用于快速找回登录密码，接收账户余额变动提醒。</p>
					<span class="verify_now"><a href="#">立即验证</a></span>
				</li>
				<li>
					<div class="form_img">
						<img src="../../img/as_right.png" alt="">
					</div>
					<div class="form_name">手机绑定</div>
					<p>您验证的手机：130130****00，可享有多个服务，如：密码找回，交易提醒等</p>
					<span><a href="#">修改</a></span>
				</li>
				<li class='last_form'>
					<div class="form_img">
						<img src="../../img/as_right.png" alt="">
					</div>
					<div class="form_name">实名认证</div>
					<p>您认证的实名信息：**勇 130****************000</p>
					<span><a href="#">查看</a></span>
				</li>
			</ul>
		</div>
		<div class="footer">
			<div class="data-width">
				<div class="foot-mid">
					<ul>
						<li>
							<h3>注册登录</h3>
							<a href="">消费注册</a>
							<a href="">正品保障</a>
							<a href="">用户登录</a>
							<a href="">忘记密码</a>
							<a href="">商家入驻</a>
						</li>
						<li>
							<h3>消费指南</h3>
							<a href="">兑换流程</a>
							<a href="">消费流程</a>
							<a href="">货币与支付</a>
							<a href="">配送方式</a>
							<a href="">配送方式</a>
							<a href="">物流查询</a>
						</li>
						<li>
							<h3>购物指南</h3>
							<a href="">7天退换货</a>
							<a href="">退货流程</a>
						</li>
						<li>
							<h3>订单问题</h3>
							<a href="">订单查询</a>
							<a href="">订单取消</a>
							<a href=""></a>
						</li>
						<li class="kefuqu">
							<h3>联系我们</h3>
							<a href="">电话客服：9999999</a>
							<a href="">QQ客服：999999999</a>
							<a href="">邮箱：888888888</a>
							<a href="">公众号：0000000000</a>
						</li>
					</ul>
				</div>
				<div class="foot-top">
					<ul>
						<li class="first"><img src="../../img/foot-icon1.png" alt="">
							<p>闪电发货</p>
						</li>
						<li><img src="../../img/foot-icon1.png" alt=""><p>七天退换</p></li>
						<li><img src="../../img/foot-icon1.png" alt=""><p>正品保证</p></li>
						<li><img src="../../img/foot-icon1.png" alt=""><p>提供发票</p></li>
						<li class="end"><img src="../../img/foot-icon1.png" alt=""><p>三界战略合作</p></li>
					</ul>
				</div>
				<div class="foot-btm">
					<div class="foot-btm-nav">					
						<a href="">关于我们</a>
						<a href="">品牌招商</a>
						<a href="">集团采购</a>
						<a href="">招贤纳士</a>
						<a href="">联系我们</a>
						<a href="">网站地图</a>
						<a href="">网站资讯</a>
						<a href="">商家联盟</a>
						<a href="">友情链接</a>
					</div>
					<p>Copyright © 2011-2015 HaiHeShiDai Technology Co., Ltd. 京ICP备09070608号-4 增值电信业务经营许可证：京 B2-20090203 京公网安备：4403101910665</p>
					<div class="foot-btm-btm"><img src="../../img/foot-icon7.jpg" alt="" /></div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../js/lib/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="../../js/lib/common.js"></script>
</body>
</html>