<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>账户设置-收货地址</title>
	<link rel="stylesheet" type="text/css" href="../../css/common/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/common/common.css" />
	<link rel="stylesheet" type="text/css" href="../../css/private/accountsetting.css" />
</head>
<body>
	<div class="warp">
		<!--头部用户导航-->
		<div class="super_userNavi" id="super_userNavi">
			<div class="userNavi">
				
				<div class="fun_location Location" style="position: relative;">
					<p  class="fun_locationp Location">
						<span>三界商城：</span><span > 北京 </span>
						<img src="../../img/jiant_x.png"/>
					</p>&nbsp; 
					<ul class="fun_over_china over_China ">
						 <h2> 已开辟分站 </h2>
							 <div id="">
							 	<a href=""> 北京 </a>
								<a href=""> 上海 </a>
								<a href=""> 天津 </a>
								<a href=""> 黑龙江 </a>
								<a href=""> 河北 </a>
								<a href=""> 北京 </a>
								<a href=""> 上海 </a>
								<a href=""> 天津 </a>
								<a href=""> 重庆 </a>
								<a href=""> 河北 </a>  
							 </div> <br />
				        <h2> 即将开辟 </h2> 
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 重庆 </a>
							<a href=""> 河北 </a>
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 黑龙江 </a>
							<a href=""> 河北 </a>
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 黑龙江 </a>
							<a href=""> 河北 </a>
					</ul>

				</div>
									
				<div class="navigation" style="margin-right: 0;">
					<li><a href="">   1031237422  </a></li>
					<li><a href=""> 退出 </a></li>
					<li><a href=""> 我的订单 </a></li>
					<li><a href="" style="cursor: help;"> 帮助中心 </a></li>
					<li><a href=""> 新手上路 </a></li>
					<li class="nav_li_wrap">
						
						<a class="" id="funLoca" href="">手机版</a>
						<ul>
							<li>
								<p class="nav_li_pleft">
									<span class="nav_li_pleft_top">三界商城手机APP</span>
									<span class="nav_li_pleft_bottom">
										<a href="">
											<img src="../../img/iphoneshouji.png"/>
											<span>iphone</span>
										</a>
										<a class="nav_li_pleft_bottom1" href="">
											<img src="../../img/anzhuoshouji.png"/>
											<span>Android</span>
										</a>
									</span>
								</p>
								<p class="nav_li_prigh">
									<img src="../../img/shoujiduanerweima.png"/>
								</p>
							</li>
							<li>
								<p class="nav_li_pleft nav_li_pleft_word">
									<span>三界商城微信公众号</span>
								</p>
								<p class="nav_li_prigh">
									<img src="../../img/weiixngongzhonghaoerweima.png"/>
								</p>
							</li>
						</ul>
						
						
					</li>
				</div>
				
			</div>
		</div>
		
		<!--搜索商品栏-->
		<div class="super_Search">
			<div class="Search" href="">
				
			<img style="float: left;" src="../../img/logo.png"/>	
			<input type="text" class="kuang" id="" placeholder="输入你想查找的商品名字" />
			<input type="button" class="suoSou" id="" value="搜索" />
			<a class="shopping_cart_icon">
				 <img src="../../img/gouwuche.png"/> 我的购物车（ <sapn> 0 </sapn> ）
			</a>
			<div class="Text">
				<a href="">秋冬连衣裙</a>
				<a href=""> 耐克跑步鞋</a>
				<a href="">婴儿抱被 </a>
				<a href="">会员特供 </a>
				<a href="">买一送二</a>
			</div>
				
			</div>
			
		</div>
		<!--导航栏-->
		<div class="m_nav">
			<ul class="m_nav_in">
				<li class="first_child"><a href="../../index.html">返回商城首页</a></li>
				<li><a href="Diamond_index.html">三界会员</a></li>
				<li><a href="order.html">我的订单</a></li>
				<li><a href="accountant.html">我的账房</a></li>
				<li><a href="myrecommend.html">我的推荐</a></li>
				<li><a class="color_title_fist" href="accountsettings.html">账户设置</a></li>
				<li><a href="#">三界石</a></li>
				<li><a href="#">三界宝</a></li>
				<li class="last_child"><a href="../others/Share.html">分享邀请</a></li>
			</ul>
		</div>
		<!--账户设置-收货地址列表-->
		<div class="account_list account_address_list">
			<div class="address_top">
				<div class="add_address">
					<img src="../../img/address-icon1.png" alt="">新增收货地址
				</div>
				<a href="#" onclick="window.history.go(-1)">返回</a>
			</div>
			<div class="address_list">
				<ul>
					<li>
						<h3>杨树林1</h3>
						<p><span>收货人：</span>杨树林</p>
						<p><span>地址：</span>江西省九江市庐山区十里大道18号</p>
						<p><span>电话：</span>18888888888</p>
						<em class="amend">修改</em>
						<em class="delete">删除</em>
					</li>
					<li>
						<h3>杨树林2</h3>
						<p><span>收货人：</span>杨树林</p>
						<p><span>地址：</span>江西省九江市庐山区十里大道18号</p>
						<p><span>电话：</span>18888888888</p>
						<em class="amend">修改</em>
						<em class="delete">删除</em>
					</li>
					<li>
						<h3>杨树林3</h3>
						<p><span>收货人：</span>杨树林</p>
						<p><span>地址：</span>江西省九江市庐山区十里大道18号</p>
						<p><span>电话：</span>18888888888</p>
						<em class="amend">修改</em>
						<em class="delete">删除</em>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer">
			<div class="data-width">
				<div class="foot-mid">
					<ul>
						<li>
							<h3>注册登录</h3>
							<a href="">消费注册</a>
							<a href="">正品保障</a>
							<a href="">用户登录</a>
							<a href="">忘记密码</a>
							<a href="">商家入驻</a>
						</li>
						<li>
							<h3>消费指南</h3>
							<a href="">兑换流程</a>
							<a href="">消费流程</a>
							<a href="">货币与支付</a>
							<a href="">配送方式</a>
							<a href="">配送方式</a>
							<a href="">物流查询</a>
						</li>
						<li>
							<h3>购物指南</h3>
							<a href="">7天退换货</a>
							<a href="">退货流程</a>
						</li>
						<li>
							<h3>订单问题</h3>
							<a href="">订单查询</a>
							<a href="">订单取消</a>
							<a href=""></a>
						</li>
						<li class="kefuqu">
							<h3>联系我们</h3>
							<a href="">电话客服：9999999</a>
							<a href="">QQ客服：999999999</a>
							<a href="">邮箱：888888888</a>
							<a href="">公众号：0000000000</a>
						</li>
					</ul>
				</div>
				<div class="foot-top">
					<ul>
						<li class="first"><img src="../../img/foot-icon1.png" alt="">
							<p>闪电发货</p>
						</li>
						<li><img src="../../img/foot-icon1.png" alt=""><p>七天退换</p></li>
						<li><img src="../../img/foot-icon1.png" alt=""><p>正品保证</p></li>
						<li><img src="../../img/foot-icon1.png" alt=""><p>提供发票</p></li>
						<li class="end"><img src="../../img/foot-icon1.png" alt=""><p>三界战略合作</p></li>
					</ul>
				</div>
				<div class="foot-btm">
					<div class="foot-btm-nav">					
						<a href="">关于我们</a>
						<a href="">品牌招商</a>
						<a href="">集团采购</a>
						<a href="">招贤纳士</a>
						<a href="">联系我们</a>
						<a href="">网站地图</a>
						<a href="">网站资讯</a>
						<a href="">商家联盟</a>
						<a href="">友情链接</a>
					</div>
					<p>Copyright © 2011-2015 HaiHeShiDai Technology Co., Ltd. 京ICP备09070608号-4 增值电信业务经营许可证：京 B2-20090203 京公网安备：4403101910665</p>
					<div class="foot-btm-btm"><img src="../../img/foot-icon7.jpg" alt="" /></div>
				</div>
			</div>
		</div>
		<div class="shadow"></div>
        <div class="box delete_box">
            <div class="box_title">
                <h3>提示</h3>
                <span><img src="../../img/close.png" alt=""></span>
            </div>
            <p class="box_content">删除该收货地址吗？</p>
            <div class="box_button">
                <span class="sure">确定</span>
                <span class="cancel">取消</span>
            </div>
        </div>
        <div class="box amendbox">
            <!--添加地址和修改地址是一样的-->
            <h3>修改地址</h3>
            <div class="amend_con">
                <ul>
                    <li>
                        <div class="text_con">
                            <span>收货人</span>
                            <input type="text" placeholder="输入收货人名字">
                        </div>
                        <p class="error"><img src="../../img/hongdian.png" alt="">姓名格式错误</p>
                    </li>
                    <li>
                        <div class="text_con">
                            <span>手机</span>
                            <input type="text" placeholder="输入收货人手机号">
                        </div>
                        <p class="error"><img src="../../img/hongdian.png" alt="">手机号格式错误</p>
                    </li>
                    <li>
                        <div class="text_con">
                            <span>收货地址</span>
                            <select name="" id="">
                                <option value="">选择省份</option>
                                <option value="">河北省</option>
                                <option value="">山西省</option>
                            </select>
                            <select name="" id="">
                                <option value="">选择城市</option>
                                <option value="">石家庄</option>
                                <option value="">唐山</option>
                            </select>
                            <select name="" id="">
                                <option value="">选择县城</option>
                                <option value="">县城1</option>
                                <option value="">县城2</option>
                            </select>
                            <select name="" id="">
                                <option value="">选择乡镇</option>
                                <option value="">乡镇1</option>
                                <option value="">乡镇2</option>
                            </select>
                        </div>
                        <p class="error"></p>
                    </li>
                    <li>
                        <div class="text_con">
                            <span></span>
                            <input type="text" placeholder="输入街道、门牌号等详细地址">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="choose_default">
                <label for="choose_default"><input id="choose_default" type="checkbox">设为默认地址</label>
            </div>
            <div class="box_button">
                <input class="sure" type="submit" value="确定">
                <span class="cancel">取消</span>
            </div>
        </div>

	</div>
	<script type="text/javascript" src="../../js/lib/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="../../js/lib/common.js"></script>
	<script type="text/javascript">
		/*对地址进行修改和删除的操作*/
		var deleteAddressNum;//用来存放地址位置的变量
		$('.delete').click(function(event) {
			console.log('11111');
			$('.shadow').show(10, function() {
				$('.delete_box').show();
				/*保存当前地址的index值*/
				deleteAddressNum=$(this).parent().index();
			});
		});
		$('.amend,.add_address').click(function(event) {
			$('.shadow').show(10, function() {
				$('.amendbox').show();
			});
		});
		$('.cancel,.box_title span').click(function(event) {
			$('.box').hide(10, function() {
				$('.shadow').hide();
			});
		});
		/*点击删除盒子的确定按钮则删除当前地址*/
		$('.delete_box .sure').click(function(event) {
			$('.address_list ul li').eq(deleteAddressNum).remove();
			$('.box').hide(10, function() {
				$('.shadow').hide();
			});
		});

		/*点击修改或者新增盒子的确定按钮则新增或者修改地址*/
		$('.amendbox .sure').click(function(event) {
			console.log('要新增或修改地址啦');
			$('.box').hide(10, function() {
				$('.shadow').hide();
			});
		});

		/*这里是select地址选择的change事件*/
		$('.text_con select').change(function(event) {
			console.log('select值改变了哟');
		});
	</script>
</body>
</html>