<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> 注册页 </title>
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/private/mix.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common/common.css"/>
		<script src="../../js/lib/html5shiv.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	
	
	
	
	<body>
		<!--注册头部-->
		<div class="super_enroll_top">
			<div class="enroll_top">
				<img src="../../img/logo.png"/>
				<span> 欢迎注册 </span>
			</div>
		</div>
		<!--手机注册-->
		<div class="super_enroll">
		  <div class="Enroll">
		  	 <h3> 手机注册 </h3>
		  	 <li style="margin-top: 32px;">
		  	 	<font> 账号 </font>
		  	 	<input type="text" name="" id="mobile_phone1" placeholder="请输入手机号" />
		  	 	<strong id="Str"> 请填写你的11位常用手机号 </strong>
		  	 	<img id="Img1" style="margin-left: 12px;" src="../../img/tuoyuan2.png"/>
		  	 </li>
		  	 <p id="p5"> <img src="../../img/hongdian.png"/> &nbsp; 手机号码格式不对 </p>
		  	 <li> 
		  	 	<font> 手机验证码 </font>
		  	 	<input type="text" class="SMS" id="Veri1" placeholder="输入短信验证码设置密码" /> 
		  	 	<em class="Obtain "> 获取验证码 </em>
		  	 	<img id="Img2" style="margin-left: 12px;" src="../../img/tuoyuan2.png"/>
		  	 </li>
		  	 <p id="p6"> <img src="../../img/hongdian.png"/> &nbsp; 验证码输入错误 </p>
		  	 <li> 
		  	 	<font> 设置密码 </font>
		  	 	<input type="password" name="" id="newPSd1" placeholder="输入6-16个字符（包含大小字母、数字或符号等）" /> 
		  	 	<img id="Img3" style="margin-left: 12px;" src="../../img/tuoyuan2.png"/>
		  	 </li>
		  	 <p id="p7"> <img src="../../img/hongdian.png"/> &nbsp; 密码格式错误 </p>
		  	 <li> 
		  	 	<font> 确认密码 </font>
		  	 	<input type="password" name="" id="rePsd1" placeholder="再次输入密码" />
		  	 	<img id="Img4" style="margin-left: 12px;" src="../../img/tuoyuan2.png"/>
		  	 </li>
		  	 <p id="p8"> <img src="../../img/hongdian.png"/> &nbsp; 两次密码输入不一致 </p>
		  	 <li> <font> 邀请码 </font> <input type="text" name="" id="" placeholder="输入邀请码" /> <a href=""> 没有邀请码？点击获得系统默认码 </a> </li>
		  	 <div class="Agreedto" id="Agreedto">
		  	 	<img src="../../img/tuoyuan.png"/>
		  	 	<span> 我同意<<商创版用户协议>>  </span>
		  	 </div>
		  	 <input type="button" class="btn1" name="" id="" value="同意协并注册" />
		  	 <div class="has">
		  	 	<a href="login.html"> 已有账号？ </a> <span> 在此登录 </span>
		  	 </div>
		  </div>
		</div>
		
		
		
				
		<!--底部-->
		<div class="footer">
		<div class="data-width">
			<!--<div class="foot-mid">
				<ul>
					<li>
						<h3>注册登录</h3>
						<a href="">消费注册</a>
						<a href="">正品保障</a>
						<a href="">用户登录</a>
						<a href="">忘记密码</a>
						<a href="">商家入驻</a>
					</li>
					<li>
						<h3>消费指南</h3>
						<a href="">兑换流程</a>
						<a href="">消费流程</a>
						<a href="">货币与支付</a>
						<a href="">配送方式</a>
						<a href="">配送方式</a>
						<a href="">物流查询</a>
					</li>
					<li>
						<h3>购物指南</h3>
						<a href="">7天退换货</a>
						<a href="">退货流程</a>
					</li>
					<li>
						<h3>订单问题</h3>
						<a href="">订单查询</a>
						<a href="">订单取消</a>
						<a href=""></a>
					</li>
					<li class="kefuqu">
						<h3>联系我们</h3>
						<a href="">电话客服：9999999</a>
						<a href="">QQ客服：999999999</a>
						<a href="">邮箱：888888888</a>
						<a href="">公众号：0000000000</a>
					</li>
				</ul>
			</div>-->
			<!--<div class="foot-top">
				<ul>
					<li class="first"><img src="../../img/foot-icon1.png" alt="">
						<p>闪电发货</p>
					</li>
					<li><img src="../../img/foot-icon1.png" alt=""><p>七天退换</p></li>
					<li><img src="../../img/foot-icon1.png" alt=""><p>正品保证</p></li>
					<li><img src="../../img/foot-icon1.png" alt=""><p>提供发票</p></li>
					<li class="end"><img src="../../img/foot-icon1.png" alt=""><p>三界战略合作</p></li>
				</ul>
			</div>-->
			<div class="foot-btm">
				<div class="foot-btm-nav foot-btm-nav1">					
					<a href="">关于我们</a>
					<a href="">品牌招商</a>
					<a href="">集团采购</a>
					<a href="">招贤纳士</a>
					<a href="">联系我们</a>
					<a href="">网站地图</a>
					<a href="">网站资讯</a>
					<a href="">商家联盟</a>
					<a href="">友情链接</a>
				</div> 
				<div class="foot-btm-btm foot-btm-btm1"><img src="../../img/foot-icon7.jpg" alt="" /></div>
				<p>Copyright © 2011-2015 HaiHeShiDai Technology Co., Ltd. 京ICP备09070608号-4 增值电信业务经营许可证：京 B2-20090203 京公网安备：4403101910665</p>
			</div>
		</div>
	</div>
		
		
		<script src="../../js/lib/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mix.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
