<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/common.css" />
 		<link rel="stylesheet" type="text/css" href="../../css/private/updataD.css"/>
	</head>
	<body>
		<!--头部用户导航-->
				<!--头部用户导航-->
		<div class="super_userNavi" id="super_userNavi">
			<div class="userNavi">
				
				<div class="fun_location Location" style="position: relative;">
					<p  class="fun_locationp Location">
						<span>三界商城：</span><span > 北京 </span>
						<img src="../../img/jiant_x.png"/>
					</p>&nbsp; 
					<ul class="fun_over_china over_China ">
						 <h2> 已开辟分站 </h2>
							 <div id="">
							 	<a href=""> 北京 </a>
								<a href=""> 上海 </a>
								<a href=""> 天津 </a>
								<a href=""> 黑龙江 </a>
								<a href=""> 河北 </a>
								<a href=""> 北京 </a>
								<a href=""> 上海 </a>
								<a href=""> 天津 </a>
								<a href=""> 重庆 </a>
								<a href=""> 河北 </a>  
							 </div> <br />
				        <h2> 即将开辟 </h2> 
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 重庆 </a>
							<a href=""> 河北 </a>
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 黑龙江 </a>
							<a href=""> 河北 </a>
							<a href=""> 北京 </a>
							<a href=""> 上海 </a>
							<a href=""> 天津 </a>
							<a href=""> 黑龙江 </a>
							<a href=""> 河北 </a>
					</ul>

				</div>
									
				<div class="navigation" style="margin-right: 0;">
					<li><a href="">   1031237422  </a></li>
					<li><a href=""> 退出 </a></li>
					<li><a href=""> 我的订单 </a></li>
					<li><a href="" style="cursor: help;"> 帮助中心 </a></li>
					<li><a href=""> 新手上路 </a></li>
					<li class="nav_li_wrap">
						
						<a class="" id="funLoca" href="">手机版</a>
						<ul>
							<li>
								<p class="nav_li_pleft">
									<span class="nav_li_pleft_top">三界商城手机APP</span>
									<span class="nav_li_pleft_bottom">
										<a href="">
											<img src="../../img/iphoneshouji.png"/>
											<span>iphone</span>
										</a>
										<a class="nav_li_pleft_bottom1" href="">
											<img src="../../img/anzhuoshouji.png"/>
											<span>Android</span>
										</a>
									</span>
								</p>
								<p class="nav_li_prigh">
									<img src="../../img/shoujiduanerweima.png"/>
								</p>
							</li>
							<li>
								<p class="nav_li_pleft nav_li_pleft_word">
									<span>三界商城微信公众号</span>
								</p>
								<p class="nav_li_prigh">
									<img src="../../img/weiixngongzhonghaoerweima.png"/>
								</p>
							</li>
						</ul>
						
						
					</li>
				</div>
				
			</div>
		</div>		
		<!--搜索商品栏-->
		<div class="super_Search">
			<div class="Search" href="">
				
				<img style="float: left;" src="../../img/logo.png"/>	
				<input type="text" class="kuang" id="" placeholder="输入你想查找的商品名字" />
				<input type="button" class="suoSou" id="" value="搜索" />
				<a class="shopping_cart_icon">
					 <img src="../../img/gouwuche.png"/> 我的购物车（ <sapn> 0 </sapn> ）
				</a>
				<div class="Text">
					<a href="">秋冬连衣裙</a>
					<a href=""> 耐克跑步鞋</a>
					<a href="">婴儿抱被 </a>
					<a href="">会员特供 </a>
					<a href="">买一送二</a>
				</div>
				
			</div>
			
		</div>
		
		<!--频道跳转栏-->
		<div class="local-channel fix">
			<div class="data-width">
				<div class="channel-box .fix">
					<a class="channel-l">
						<img src="../../img/hanbao.png" alt="" />
						<span>返回商城首页</span>
					</a>
					<div class="channel-c">
						<a href="">三界会员</a>
						<a href="">我的订单</a>
						<a href="">我的账房</a>
						<a href="">我的推荐</a>
						<a href="">账户设置</a>						
					</div>
					<div class="channel-r">
						<a href="">三界石</a>
						<a href="">三界宝</a>
						<a href="">分享邀请</a>
					</div>
				</div>
			</div>
		</div>
		
		
		<!--内容页面-->
		<div class="updata-cont">
					
			<div class="data-width">			
					<div class="main-box main-box1">
						<div class="up_succ">
							<img src="../../img/gou.png" alt="" />
							<p>恭喜，您已成功升级为创业会员</p>
							<a href="">返回会员首页</a>
						</div>
							
						<div class="up_list">
							<ul class="ul_1">
								<li class="li_1 t_1"><span>操作权限</span></li>
								<li class="t_1"><span>普通会员</span></li>
								<li><span>创业会员</span></li>
							</ul>
							<ul>
								<li class="li_1">创业会员</li>
								<li>￥50 ：100三界石</li>
								<li>￥50 ：100三界石</li>
							</ul>
							<ul>
								<li class="li_1">转账权限（将三界石转账给平台上其他的账户）</li>
								<li><img src="../../img/green-chenggong.png" alt="" /></li>
								<li><img src="../../img/red-shibai.png" alt="" /></li>
							</ul>
							<ul>
								<li class="li_1">推荐供应商权限</li>
						     	<li><img src="../../img/green-chenggong.png" alt="" /></li>
								<li><img src="../../img/red-shibai.png" alt="" /></li>
							</ul>
							<ul>
								<li class="li_1">推荐的供应商销售业绩奖励</li>
								<li><img src="../../img/green-chenggong.png" alt="" /></li>
								<li><img src="../../img/red-shibai.png" alt="" /></li>
							</ul>
							<ul>
								<li class="li_1">推荐店铺权限</li>
								<li><img src="../../img/green-chenggong.png" alt="" /></li>
								<li><img src="../../img/red-shibai.png" alt="" /></li>
							</ul>
							<ul>
								<li class="li_1">推荐的店铺充值时的奖励</li>
								<li><img src="../../img/green-chenggong.png" alt="" /></li>
								<li><img src="../../img/red-shibai.png" alt="" /></li>
							</ul>
							<ul>
								<li class="li_1 li_b">推荐的普通会员升级为创业会员时的奖励</li>
								<li class=" li_b"><img src="../../img/green-chenggong.png" alt="" /></li>
								<li class=" li_b"><img src="../../img/red-shibai.png" alt="" /></li>
							</ul>
						</div>
					</div>
					<div style="height:40px;"></div>
				</div>
			</div>
		<div class="footer">
		<div class="data-width">
			<div class="foot-mid">
				<ul>
					<li>
						<h3>注册登录</h3>
						<a href="">消费注册</a>
						<a href="">正品保障</a>
						<a href="">用户登录</a>
						<a href="">忘记密码</a>
						<a href="">商家入驻</a>
					</li>
					<li>
						<h3>消费指南</h3>
						<a href="">兑换流程</a>
						<a href="">消费流程</a>
						<a href="">货币与支付</a>
						<a href="">配送方式</a>
						<a href="">配送方式</a>
						<a href="">物流查询</a>
					</li>
					<li>
						<h3>购物指南</h3>
						<a href="">7天退换货</a>
						<a href="">退货流程</a>
					</li>
					<li>
						<h3>订单问题</h3>
						<a href="">订单查询</a>
						<a href="">订单取消</a>
						<a href=""></a>
					</li>
					<li class="kefuqu">
						<h3>联系我们</h3>
						<a href="">电话客服：9999999</a>
						<a href="">QQ客服：999999999</a>
						<a href="">邮箱：888888888</a>
						<a href="">公众号：0000000000</a>
					</li>
				</ul>
			</div>
			<div class="foot-top">
				<ul>
					<li class="first"><img src="../../img/foot-icon1.png" alt="">
						<p>闪电发货</p>
					</li>
					<li><img src="../../img/foot-icon1.png" alt=""><p>七天退换</p></li>
					<li><img src="../../img/foot-icon1.png" alt=""><p>正品保证</p></li>
					<li><img src="../../img/foot-icon1.png" alt=""><p>提供发票</p></li>
					<li class="end"><img src="../../img/foot-icon1.png" alt=""><p>三界战略合作</p></li>
				</ul>
			</div>
			<div class="foot-btm">
				<div class="foot-btm-nav">					
					<a href="">关于我们</a>
					<a href="">品牌招商</a>
					<a href="">集团采购</a>
					<a href="">招贤纳士</a>
					<a href="">联系我们</a>
					<a href="">网站地图</a>
					<a href="">网站资讯</a>
					<a href="">商家联盟</a>
					<a href="">友情链接</a>
				</div>
				<p>Copyright © 2011-2015 HaiHeShiDai Technology Co., Ltd. 京ICP备09070608号-4 增值电信业务经营许可证：京 B2-20090203 京公网安备：4403101910665</p>
				<div class="foot-btm-btm"><img src="../../img/foot-icon7.jpg" alt="" /></div>
			</div>
		</div>
	</div>
		
		<script src="../../js/lib/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
//			 $(document).ready(function(){
//			 	
// 
//			 $('.fun_location').on('mousemove',function(){ 
//				$(".fun_locationp").removeClass('Location').addClass('Location1');
//				$('.fun_over_china').css('display','block');
//				$('.fun_location img').attr("src","../../img/jiant_s.png");
//			  });
//			  
// 			  $('.fun_location').on('mouseleave',function(){ 
// 			  	
// 				$(".fun_locationp").removeClass('Location1').addClass('Location');
// 				$('.fun_over_china').css('display','none');
// 				$('.fun_location img').attr("src","../../img/jiant_x.png");
// 			  });
// 			  	 		 	
//			 $('.fun_over_china').on('mousemove',function(){ 
//				$('.fun_locationp').removeClass('Location').addClass('Location1');
//				$('.fun_over_china').css('display','block');
//			  });
//			  
//			  $('.fun_over_china').on('mouseleave',function(){ 
// 				$('.fun_locationp').removeClass('Location1').addClass('Location');
// 				$('.fun_over_china').css('display','none');
// 				$('.fun_location img').attr("src","../../img/jiant_x.png");
// 			  });
//			   
//			})   ;


	
			$(function(){
				$('.pay-select li input').click(function(){														
				    $('.pay-select li').children("div").removeClass('abcdf');
					$(this).next("div").addClass('abcdf');
				})
				
			
			})
			
		</script>
		</script>
	</body>
</html>
